.btn
    box-sizing  border-box
    font-size 18px
    font-family $f_helvetica
    font-weight lighter
    text-align center
    border none
    height 56px
    display inline-block
    vertical-align top
    line-height 56px
    color #fff
    text-shadow -1px -1px 0 rgba(0,0,0,0.4)
    cursor pointer
    border-radius 6px
    padding 0 
    outline none
    background rgb(237,28,36); /* Old browsers */
    background -moz-linear-gradient(top,  rgba(237,28,36,1) 0%, rgba(202,24,31,1) 100%)
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,28,36,1)), color-stop(100%,rgba(202,24,31,1)))
    background -webkit-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
    background -o-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
    background -ms-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
    background linear-gradient(to bottom,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
    text-decoration none


    &_inline
        display inline-block
        width auto
        padding 0 30px

    &_disabled,
    &[disabled]
        background #0c3a48
        color #53747e  
        cursor default

.btn:hover
  background: rgb(251,62,69); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(251,62,69,1) 0%, rgba(202,24,31,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,62,69,1)), color-stop(100%,rgba(202,24,31,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(251,62,69,1) 0%,rgba(202,24,31,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(251,62,69,1) 0%,rgba(202,24,31,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(251,62,69,1) 0%,rgba(202,24,31,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(251,62,69,1) 0%,rgba(202,24,31,1) 100%); /* W3C */

.btn:disabled
  background: rgb(204,204,204); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(153,153,153,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(153,153,153,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(153,153,153,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(153,153,153,1) 100%); /* W3C */
  color #ffffff
  text-shadow none

.label
  position relative
  box-sizing  border-box
  font-size 16px
  line-height 18px
  font-weight lighter
  text-align center
  border none
  display inline-block
  vertical-align top
  color #fff
  cursor pointer
  padding 12px 0 9px
  width 123px
  outline none
  background rgb(237,28,36); /* Old browsers */
  background -moz-linear-gradient(top,  rgba(237,28,36,1) 0%, rgba(202,24,31,1) 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,28,36,1)), color-stop(100%,rgba(202,24,31,1)))
  background -webkit-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
  background -o-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
  background -ms-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
  background linear-gradient(to bottom,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
  box-shadow 1px 1px 0 #e3e3e3

.label:before,
.label:after
  position absolute
  content ''
  width 9px
  height 9px
  border-radius 9px
  top 50%
  margin-top -4px
  z-index 1

.label:before
  left -4px

.label:after
  right -4px

.label.label-bg-white:after,
.label.label-bg-white:before
  background  #ffffff

.label.label-bg-gray:after,
.label.label-bg-gray:before
  background  #eff0f2

.label.label-bg-black:after,
.label.label-bg-black:before
  background  #151616
  width 28px
  height 28px
  border-radius 28px
  margin-top -14px

.label.label-bg-black:before
  left -14px

.label.label-bg-black:after
  right -14px

.label:hover
  background: rgb(251,62,69); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(251,62,69,1) 0%, rgba(202,24,31,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,62,69,1)), color-stop(100%,rgba(202,24,31,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(251,62,69,1) 0%,rgba(202,24,31,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(251,62,69,1) 0%,rgba(202,24,31,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(251,62,69,1) 0%,rgba(202,24,31,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(251,62,69,1) 0%,rgba(202,24,31,1) 100%); /* W3C */