block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left

            h1 Новости

            ul.news-list
                li.news-list__el
                    time(datetime = "2015-04-22").news-date 22 апреля 2015
                    a(href = "").news-link Изменения в условиях программы
                    .news-text
                        | Уважаемые дамы и господа!
                        | Подразделение Beauty Care Professional ООО &laquo;Хенкель Рус&raquo; пользуется случаем выразить Вам свое почтение и&nbsp;информирует Вас об&nbsp;увеличении минимальной квартальной закупки салона для каждого уровня программы PH&nbsp;Club c&nbsp;1&nbsp;июля 2015&nbsp;года.

                li.news-list__el
                    time(datetime = "2015-04-22").news-date 22 апреля 2015
                    a(href = "").news-link Открыта возможность заказов по результатам 3 квартала 2013 года
                    .news-text
                        p Коллеги, рады сообщить, что открыта возможность совершения заказов на подарки.
                        p Не&nbsp;забывайте указывать в&nbsp;комментариях цвет изделия и&nbsp;свои пожелания относительно времени доставки. Перед заказом проверьте адрес, указанный в&nbsp;личном кабинете. Именно на&nbsp;него курьерская служба доставит ваши бонусные подарки.
                        p Хороших и качественных покупок!

                li.news-list__el
                    time(datetime = "2015-04-22").news-date 22 апреля 2015
                    a(href = "").news-link Вносите информацию по закупкам онлайн
                    .news-text
                        p Информацию по закупкам салонов теперь можно вносить в удобной форме на сайте.


    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/news.jpg", opacity: 0.5, top: -70, left: -177, center: false, clip: true, show: false }) })

