block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left

            a.breadcrumbs.btn Новости

            article.news-post
                h1 Изменения в условиях программы

                time(datetime = "2013-10-28").news-date 28 октября 2013

                p Уважаемые дамы и господа!
                p Подразделение
                    a(href="") Beauty Care Professional
                    |    ООО &laquo;Хенкель Рус&raquo; пользуется случаем выразить Вам свое почтение и&nbsp;информирует Вас об&nbsp;увеличении минимальной квартальной закупки салона для каждого уровня программы PH&nbsp;Club c&nbsp;1&nbsp;июля 2015&nbsp;года.

                p Новые уровни закупки:

                table
                    tr
                        th Бонусный уровень
                        th Максимальный суммарный объем
                            br
                            |закупок продукции, руб. с НДС
                        th Бонусные баллы
                            br
                            |за каждую 1000 руб. с НДС
                    tr
                        td Silver
                        td 100 000 - 120 000
                        td 30
                    tr
                        td Gold
                        td 120 001 - 160 000
                        td 50
                    tr
                        td Platinum
                        td 160 001 - 210 000
                        td 70
                    tr
                        td Diamond
                        td 210 001 и более
                        td 100

                | С уважением, команда  Beauty Care Professional

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/news_item.jpg", opacity: 0.5, top: -70, left: -177, center: false, clip: true, show: false }) })

