.credit
  ul
    margin-top 25px

    li
      position relative
      padding-left 20px
      font-size 16px
      line-height 24px
      color #000000
      font-family f_arial
      padding-bottom 10px

    li:before
      position absolute
      content ''
      width 8px
      height 8px
      border-radius 10px
      background #000000
      top 8px
      left 3px

.credit-text
  padding-top 15px

  p
    padding-bottom 15px

.credit-request
  display block
  margin-top 13px
  border 1px solid #cccccc
  box-shadow 3px 3px 0 #dfe0e1
  background #FFFFFF
  padding 48px 40px 41px
  text-align center
  margin-bottom 80px

  label
    display block
    text-align center
    margin-bottom 50px

    span
      display inline-block
      vertical-align middle
      font-size 16px

    .inp
      display inline-block
      vertical-align middle
      width 85px
      padding-left 0
      text-align center
      margin 0 15px
      color #000000
      font-size 16px
      font-family f_arial
      background #f6f8f8

  .btn
    font-size 14px
    padding 0 28px
    line-height 41px
    height 41px

.credit-popup
  padding 30px
  width 500px
  display block
  color #000

.popup-block

  h2
    padding-bottom 30px

  p
    padding-bottom 30px

  .btn
    padding 0 25px
    font-size 14px
    text-shadow none
    height 41px
    line-height 41px


