block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.account

            h1 Мой счет

            .account-current

                h2 Закупки в текущем квартале

                table
                    tr
                        th Апрель
                        th Май
                        th Июнь
                    tr
                        td
                            h2
                                strong 58 800
                                | руб
                        td
                            h2
                                strong 70 960
                                | руб
                        td -

                ul.account-current-list
                    li.account-current-list__el
                        .account-current-list__el-title
                            p Всего
                        .grid
                            h3.grid-item
                                strong 125 600
                                | руб
                            p.grid-item Закупите до конца квартала продукции еще нв 4 401 руб и получите
                                strong уровень Platinum

                    li.account-current-list__el
                        .account-current-list__el-title
                            p В баллах
                        .grid
                            h3.grid-item
                                strong 72 800
                            p.grid-item Начисление баллов по текущему кварталу будет произведено до 20 июля.

            h2 Транзакции за последние 4 квартала

            a(href="").download-xl Скачать в формате xls

            table
                tr
                    th ID
                    th Дата
                    th Сумма
                    th Описание
                tr
                    td 4938
                    td 16.04.2015 12:58
                    td -500 баллов
                    td Отмена ошибочного начисления Новогодний бонус
                tr
                    td 4722
                    td 16.04.2015 11:58
                    td +500 баллов
                    td Новогодний бонус
                tr
                    td 4500
                    td 30.01.2015
                    td -58 000 баллов
                    td Оплата заказа №164000

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/account.jpg", opacity: 0.5, top: -90, left: -177, center: false, clip: true, show: false }) })

