block vars
    - var title='Title'

extends ../../partials/layout

block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left

            a.breadcrumbs.btn Каталог подарков

            h1 Кресла для клиентов

            ul(data-url = "/static/js/ajax/load-list.html").list-to-load.catalog-list
                li.catalog-list__el.one-fourth.margin-left
                    form(action = "/static/js/ajax/add-item.php" method = "post").item-form
                        input(type="hidden" name="item_id" value="item_01")
                        a(href="#")
                            img(src = "/static/img/img--item-1.jpg" alt)
                            p.catalog-list__el-name Профессиональная машинка для стрижки BaByliss Pro
                                br
                                | FX 660E
                            span.catalog-list__el-price
                                strong 7 500
                                | баллов
                        .catalog-item-basket
                            .catalog-item-basket-add
                                div
                                    input(type = "text" name = "amount" value="1" maxlength="3").catalog-item-basket-amount.js--input-number
                                    span.catalog-item-basket-add-amount.js--add-amount.js--item-shange
                                    span.catalog-item-basket-remove-amount.js--remove-amount.js--item-shange
                                a.js--add-item Положить в корзину
                            .catalog-item-basket-link
                                a В корзине
                                    i 1
                                    | шт.
                        span.item-none Нет
                            br
                            | в наличии

                li.catalog-list__el.one-fourth.margin-left
                    form(action = "/static/js/ajax/add-item.php" method = "post").item-form
                        input(type="hidden" name="item_id" value="item_01")
                        a(href="#")
                            img(src = "/static/img/img--item-1.jpg" alt)
                            p.catalog-list__el-name Кресло парикмахерское "Арина"
                                br
                                | FX 660E
                            span.catalog-list__el-price
                                strong 9 800
                                | баллов
                        .catalog-item-basket.item-added
                            .catalog-item-basket-add
                                div
                                    input(type = "text" name = "amount" value="1" maxlength="3").catalog-item-basket-amount.js--input-number
                                    span.catalog-item-basket-add-amount.js--add-amount.js--item-shange
                                    span.catalog-item-basket-remove-amount.js--remove-amount.js--item-shange
                                a.js--add-item Положить в корзину
                            .catalog-item-basket-link
                                a В корзине
                                    i 1
                                    | шт.
                        span.item-none Нет
                            br
                            | в наличии

                li.catalog-list__el.one-fourth.margin-left.disable
                    form(action = "/static/js/ajax/add-item.php" method = "post").item-form
                        input(type="hidden" name="item_id" value="item_01")
                        a(href="#")
                            img(src = "/static/img/img--item-1.jpg" alt)
                            p.catalog-list__el-name Кресло парикмахерское НИКОЛЬ
                                br
                                | FX 660E
                            span.catalog-list__el-price
                                strong 14 010
                                | баллов
                        .catalog-item-basket
                            .catalog-item-basket-add
                                div
                                    input(type = "text" name = "amount" value="1" maxlength="3").catalog-item-basket-amount.js--input-number
                                    span.catalog-item-basket-add-amount.js--add-amount.js--item-shange
                                    span.catalog-item-basket-remove-amount.js--remove-amount.js--item-shange
                                a.js--add-item Положить в корзину
                            .catalog-item-basket-link
                                a В корзине
                                    i 1
                                    | шт.
                        span.item-none Нет
                            br
                            | в наличии

            a.btn.show-more.js--show-more показать еще

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/catalog_category.jpg", opacity: 0.5, top: 0, left: -177, center: false, clip: true, show: false }) })

