block vars
    - var title='Title'

extends ../../partials/layout

block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left

            h1 Каталог подарков

            .search--block
                form(action = "" method = "").search-forrm
                    input(type = "text" name = "search" placeholder = "поиск по каталогу" value).inp
                    input(type = "submit" value = "Найти").btn

            ul.catalog-section--list
                li.catalog-section--list__el.three-fourth.margin-left
                    a(style = "background: url('/static/img/img--category-1.png') no-repeat 100% 100%")
                        h2 Конкурсы, семинары, конгрессы
                        span.catalog-section--list__el-text
                            strong 7
                            | событий
                        span.label.label-bg-white
                            | от 750
                            br
                            | баллов
                        span.catalog-section--list__el-number 1
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-2.png') no-repeat 100% 100%")
                        h2 Кресла
                            br
                            |для клиентов
                        span.label.label-bg-white
                            | от 11 000
                            br
                            | баллов
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-3.png') no-repeat 100% 100%")
                        h2 Машинки
                            br
                            |для стрижки
                        span.label.label-bg-white
                            | от 1 090
                            br
                            | баллов
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-4.png') no-repeat 100% 100%")
                        h2 Мойки для волос
                        span.label.label-bg-white
                            | от 21 560
                            br
                            | баллов
                        span.catalog-section--list__el-number 23
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-5.png') no-repeat 100% 100%")
                        h2 Профессиональные
                            br
                            | фены
                        span.label.label-bg-white
                            | от 2 640
                            br
                            | баллов
                        span.catalog-section--list__el-number 23
                li.catalog-section--list__el.three-fourth.margin-left
                    a(style = "background: url('/static/img/img--category-6.png') no-repeat 100% 100%")
                        h2 Salon Tools Schwarzkopf Professional
                        span.catalog-section--list__el-text
                            strong 18
                            | товаров
                        span.label.label-bg-white
                            | от 60
                            br
                            | баллов
                        span.catalog-section--list__el-number 1
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-7.png') no-repeat 100% 100%")
                        h2 Тележки парикмахера
                        span.label.label-bg-white
                            | от 3 960
                            br
                            | баллов
                li.catalog-section--list__el.margin-left
                    a(style = "background: url('/static/img/img--category-8.png') no-repeat 100% 100%")
                        h2 Ножницы
                            br
                            | для стрижки
                        span.label.label-bg-white
                            | от 4 460
                            br
                            | баллов
                        span.catalog-section--list__el-number 23

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/catalog_main.jpg", opacity: 0.5, top: 0, left: -177, center: false, clip: true, show: false }) })

