block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left

            a.breadcrumbs.btn Кресла для клиентов

            h1 Кресло парикмахерское Мона

            .catalog-item.grid
                .catalog-item-img.grid-item
                    img(src = "/static/img/img--item.jpg" alt)

                .catalog-item-content.grid-item
                    form(action = "/static/js/ajax/add-item.php" method = "post").item-form
                        input(type="hidden" name="item_id" value="item_01")
                        .catalog-item-content-old
                            span 16 700 баллов
                        .catalog-item-content-new
                            span.label.label-bg-gray 14 850 баллов
                        label
                            span Цвет
                            select.select-styler
                                option(value="color_01") Черный
                                option(value="color_02") Белый
                                option(value="color_03") Красный
                        span.catalog-item-content-value На складе 5 штук
                        .catalog-item-basket
                            .catalog-item-basket-add
                                div
                                    input(type = "text" name = "amount" value="1" maxlength="3").catalog-item-basket-amount.js--input-number
                                    span.catalog-item-basket-add-amount.js--add-amount.js--item-shange
                                    span.catalog-item-basket-remove-amount.js--remove-amount.js--item-shange
                                a.js--add-item Положить в корзину
                            .catalog-item-basket-link
                                a В корзине
                                    i 1
                                    | шт.

            p Кресло парикмахерское МОНА произведено российской компанией "Имидж Мастер" Имеет хромированные подлокотники с декоративной накладкой из дерева или из кожезаменителя. Комплектуется гидроподъемником. Мягкие элементы кресла изготовлены из высококачественного поролона и обиты искусственной кожей. На складе имеются в наличии кресла синего, бежевого и черного цвета. Размер (ШхГ) 61х76 Цена указана за кресло с гидроподъемником на пятилучье пр-ва Китай.

            .catalog-recommend

                h3 Рекомендуем посмотреть

                ul.catalog-list
                    li.catalog-list__el.one-fourth.margin-left
                        a(href="#")
                            img(src = "/static/img/img--item-1.jpg" alt)
                            p.catalog-list__el-name Профессиональная машинка для стрижки BaByliss Pro
                                br
                                |FX 660E
                            span.catalog-list__el-price
                                strong 7 500
                                | баллов
                        span.item-none Нет
                            br
                            | в наличии

                    li.catalog-list__el.one-fourth.margin-left
                        a(href="#")
                            img(src = "/static/img/img--item-1.jpg" alt)
                            p.catalog-list__el-name Кресло парикмахерское "Арина"
                            span.catalog-list__el-price
                                strong 12 100
                                | баллов
                            span.item-none Нет
                                br
                                | в наличии


    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/catalog_card.jpg", opacity: 0.5, top: 0, left: -177, center: false, clip: true, show: false }) })

