block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.credit

            h1 Взять баллы в кредит

            .credit-request
                p Запрос на кредит отправлен на рассмотрение. После решения по вашему кредиту администрация свяжется с вами.

            h2 Условия предоставления и возврата кредита
            ul
                li Сумма кредита будет зачислена на&nbsp;ваш счет сразу после того, как будет одобрена.
                li Сумма кредита будет вычтена при начислении баллов за&nbsp;следующий квартал. Если сумма баллов, полученных в&nbsp;следующем квартале, не&nbsp;закроет кредит, то&nbsp;остаток кредита переносится на&nbsp;следующий кварталю
                li Кредит беспроцентный. Вы&nbsp;возвращаете только ту&nbsp;сумму, которую запросили.


        .hidden-block
            a(href="credit-ok.html" class="fancybox.ajax").fancy.credit-request-popup sddasd

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/credit.jpg", opacity: 0.5, top: -73, left: -177, center: false, clip: true, show: false }) })

