block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.credit

            h1 Кредитное соглашение

            .credit-text
                p Каждый участник может иметь только один счёт в&nbsp;программе (!).
                p Счёт участника и&nbsp;набранные баллы не&nbsp;объединяются со&nbsp;счетами других участников PH&nbsp;Club.
                p Набранные баллы нельзя передавать другим салонам, завещать или продавать.
                p Баллы в&nbsp;программе начисляются только за&nbsp;покупку продукции Schwarzkopf Professional (кроме ассортимента Indola) у&nbsp;официальных дистрибьюторов ООО &laquo;Хенкель Рус&raquo;. Баллы зачисляются на&nbsp;счёт участника только один раз. В&nbsp;случае неоплаты или возврата продукции официальному дистрибьютору, начисленные в&nbsp;программе баллы аннулируются.Каждый участник может иметь только один счёт в&nbsp;программе (!).
                p Счёт участника и&nbsp;набранные баллы не&nbsp;объединяются со&nbsp;счетами других участников PH&nbsp;Club.
                p Набранные баллы нельзя передавать другим салонам, завещать или продавать.
                p Баллы в&nbsp;программе начисляются только за&nbsp;покупку продукции Schwarzkopf Professional (кроме ассортимента Indola) у&nbsp;официальных дистрибьюторов ООО &laquo;Хенкель Рус&raquo;. Баллы зачисляются на&nbsp;счёт участника только один раз. В&nbsp;случае неоплаты или возврата продукции официальному дистрибьютору, начисленные в&nbsp;программе баллы аннулируются.
                p Вся персональная информация о&nbsp;счёте участника и&nbsp;сделанных заказах на&nbsp;подарки доступна на&nbsp;сайте PH&nbsp;Club в&nbsp;режиме реального времени.
                p Начисление баллов происходит на&nbsp;ежеквартальной основе. Это позволяет вашему салону получить преимущество повышения бонусного уровня при увеличении закупок (!).
                p Пример: Если ваш салон закупил в&nbsp;первом квартале продукции Schwarzkopf Professional на&nbsp;сумму от&nbsp;100&nbsp;000 до&nbsp;130&nbsp;000&nbsp;руб. с&nbsp;НДС, то&nbsp;вы&nbsp;зарабатываете 50&nbsp;бонусных баллов на&nbsp;каждую 1000&nbsp;руб. закупки. Во&nbsp;втором квартале закупки продукции Schwarzkopf Professional увеличились и&nbsp;составили 160&nbsp;000&nbsp;руб. с&nbsp;НДС, соответственно вы&nbsp;зарабатываете 70&nbsp;бонусных баллов на&nbsp;каждую 1000&nbsp;руб. закупки.
                p Для участия в&nbsp;PH&nbsp;Club и&nbsp;получения бонусных баллов салон должен выдерживать минимальный уровень закупок продукции SKP&nbsp;&mdash; 80&nbsp;000&nbsp;руб. с&nbsp;НДС на&nbsp;ежеквартальной основе. При несоблюдении данного условия на&nbsp;протяжении двух кварталов последовательно, салон автоматически выбывает из&nbsp;участия в&nbsp;программе.
                p Начисление баллов происходит по итогам квартала в следующие сроки: (!)
                p 1 квартал — до 20 апреля,
                p 2 квартал — до 20 июля,
                p 3 квартал — до 20 октября,
                p 4 квартал — до 20 января.
                p Вы&nbsp;сами можете выбрать свою стратегию: либо копить бонусные баллы (для получения более ценных подарков), либо тратить их&nbsp;по&nbsp;итогам каждого квартала. Вы&nbsp;также можете потратить только часть заработанных за&nbsp;квартал баллов.

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/credit_text.jpg", opacity: 0.5, top: -70, left: -177, center: false, clip: true, show: false }) })

