
<div class="popup-block credit-popup">
  <h2>Ваш запрос на кредит суммой 50 000 баллов одобрен!</h2>
  <p>Полученная сумма баллов будет вычтена при начислении баллов за&nbsp;следующий квартал. Если сумма баллов, полученных в&nbsp;следующем квартале, не&nbsp;закроет кредит, то&nbsp;остаток кредита переносится на&nbsp;следующий квартал.</p><a href="#" class="btn">Перейти в каталог продукции с новыми силами</a>
</div>