.conditions-list
  margin-top 10px
  display block

  &__el
    margin-bottom 20px
    display block
      
    div
      padding-left 60px
      font-family f_arial
      color #000000
      font-size 16px
      line-height 24px

      p,
      a,
      li
        font-size 16px
        line-height 24px

      a
        text-decoration underline

      a:hover
        text-decoration none

      ul
        display block
        li
          position relative
          margin-bottom 10px
          padding-left 20px

        li:before
          position absolute
          content ''
          width 7px
          height 7px
          border-radius 7px
          border 1px solid #000000
          background #000
          top 7px
          left -2px

        ul
          margin-top 10px

          li:before
            background transparent

.slide
  h2
    display block
    padding-left 55px
    position relative
    cursor pointer
    min-height 30px
    line-height 30px
    margin-bottom 20px

  h2:before
    position absolute
    content ''
    width 29px
    height 29px
    border-radius 29px
    top 0
    left 0
    background rgb(237,28,36); /* Old browsers */
    background -moz-linear-gradient(top,  rgba(237,28,36,1) 0%, rgba(202,24,31,1) 100%)
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,28,36,1)), color-stop(100%,rgba(202,24,31,1)))
    background -webkit-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
    background -o-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
    background -ms-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
    background linear-gradient(to bottom,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)

  h2:after
    position absolute
    content ''
    width 9px
    height 13px
    top 7px
    left 11px
    background url("/static/img/icon--arrow-right.png") no-repeat 0 0

  &-content
    display none

.active
  h2:before
    background rgb(83,83,83)
    background -moz-linear-gradient(top,  rgba(83,83,83,1) 0%, rgba(43,43,43,1) 100%)
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,83,83,1)), color-stop(100%,rgba(43,43,43,1)))
    background -webkit-linear-gradient(top,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)
    background -o-linear-gradient(top,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)
    background -ms-linear-gradient(top,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)
    background linear-gradient(to bottom,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)

  h2:after
    width 13px
    height 9px
    top 9px
    left 8px
    background url("/static/img/icon--arrow-top.png") no-repeat 0 0