html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: content-box;
}
div,
section,
article,
ul,
li,
input,
label,
body,
header,
footer,
aside {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: f_arial;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
body {
  position: relative;
  min-height: 100%;
  width: 100%;
  height: auto !important;
  margin: 0;
  font-family: f_arial;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  box-sizing: content-box;
  -webkit-text-size-adjust: 100%;
  background: #f8f9fb;
}
html {
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  min-height: 700px;
}
header,
footer {
  display: block;
  height: auto;
  min-width: 1220px;
}
.hidden-block {
  display: none;
}
.page-wrap {
  width: 100%;
  min-width: 1220px;
  overflow: hidden;
  position: relative;
  min-height: 100%;
}
.width-wrap {
  display: block;
  margin: 0 auto;
  width: 1200px;
}
.psevdofooter {
  height: 380px;
}
.footer {
  position: absolute;
  left: 0;
  ight: 0;
  bottom: 0;
  height: 95px;
}
form,
p,
ul,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
/***** ie fix ****/
a img {
  border: none;
}
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  color: $cBlack;
  outline: none;
}
button {
  font-family: 'Open Sans', sans-serif;
}
a,
span,
p {
  outline: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: $f_helvetica;
}
p {
  padding-bottom: 15px;
}
a {
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 36px;
  line-height: 30px;
  font-family: $f_helvetica;
  font-weight: lighter;
}
h2 {
  font-size: 26px;
  line-height: 27px;
  font-weight: lighter;
  font-family: $f_helvetica;
}
h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: lighter;
  font-family: $f_helvetica;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.justifyed {
  text-align: justify;
}
.justifyed:after {
  display: inline-block;
  content: '';
  width: 100%;
}
ol,
ul,
.grid {
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}
li,
.grid-item {
  line-height: normal;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
#pxl_wrap .pxl_panel {
  right: 0 !important;
}
table {
  width: 805px;
  margin-top: 14px;
  margin-bottom: 42px;
  border-collapse: collapse;
}
table tbody tr {
  padding-top: 11px;
}
table tbody tr th,
table tbody tr td {
  text-align: left;
  font-family: f_arial;
  font-size: 16px;
  color: #000;
  width: auto;
  padding-top: 15px;
}
table tbody tr th strong,
table tbody tr td strong {
  font-weight: lighter;
  color: #f33;
}
table tbody tr th.right,
table tbody tr td.right {
  text-align: right;
  white-space: nowrap;
}
table tbody tr th.delivered img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
table tbody tr:first-child {
  border-bottom: 3px solid #ccc;
  min-height: 30px;
  padding-top: 0;
}
table tbody tr:first-child th {
  font-weight: bold;
  vertical-align: bottom;
  min-height: 30px;
  font-size: 14px;
  padding-bottom: 12px;
}
table tbody tr:last-child {
  border-bottom: 1px solid #ccc;
}
table tbody tr:last-child td {
  padding-bottom: 14px;
}
table.empty-caption tr th {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
table.styled-caption tr th.strong {
  font-weight: bold;
}
table.styled-caption tr th.italic {
  font-style: italic;
  font-weight: normal;
}
.price-rouble {
  font-style: normal;
}
.price-rouble:after {
  font-family: 'PT Sans', sans-serif;
  content: " \20B7";
  margin-left: 2px;
  display: inline-block;
  vertical-align: top;
  font-style: normal;
}
