.one-fourth {
  width: 270px !important;
}
.two-fourth {
  width: 590px !important;
}
.three-fourth {
  width: 890px !important;
}
.margin-left {
  margin-left: 40px !important;
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fnt/HelveticaNeueCyr-Light.eot");
  src: url("../fnt/HelveticaNeueCyr-Light.woff") format('woff'), url("../fnt/HelveticaNeueCyr-Light.ttf") format('truetype'), url("../fnt/HelveticaNeueCyr-Light.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: content-box;
}
div,
section,
article,
ul,
li,
input,
label,
body,
header,
footer,
aside {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: 'Arial', sans-serife;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
body {
  position: relative;
  min-height: 100%;
  width: 100%;
  height: auto !important;
  margin: 0;
  font-family: 'Arial', sans-serife;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  box-sizing: content-box;
  -webkit-text-size-adjust: 100%;
  background: #f8f9fb;
}
html {
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  min-height: 700px;
}
header,
footer {
  display: block;
  height: auto;
  min-width: 1220px;
}
.hidden-block {
  display: none;
}
.page-wrap {
  width: 100%;
  min-width: 1220px;
  overflow: hidden;
  position: relative;
  min-height: 100%;
}
.width-wrap {
  display: block;
  margin: 0 auto;
  width: 1200px;
}
.psevdofooter {
  height: 380px;
}
.footer {
  position: absolute;
  left: 0;
  ight: 0;
  bottom: 0;
  height: 95px;
}
form,
p,
ul,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
a img {
  border: none;
}
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  color: $cBlack;
  outline: none;
}
button {
  font-family: 'Open Sans', sans-serif;
}
a,
span,
p {
  outline: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: 'HelveticaNeueCyr', sans-serife;
}
p {
  padding-bottom: 15px;
}
a {
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 36px;
  line-height: 30px;
  font-family: 'HelveticaNeueCyr', sans-serife;
  font-weight: lighter;
}
h2 {
  font-size: 26px;
  line-height: 27px;
  font-weight: lighter;
  font-family: 'HelveticaNeueCyr', sans-serife;
}
h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: lighter;
  font-family: 'HelveticaNeueCyr', sans-serife;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.justifyed {
  text-align: justify;
}
.justifyed:after {
  display: inline-block;
  content: '';
  width: 100%;
}
ol,
ul,
.grid {
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}
li,
.grid-item {
  line-height: normal;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
#pxl_wrap .pxl_panel {
  right: 0 !important;
}
table {
  width: 805px;
  margin-top: 14px;
  margin-bottom: 42px;
  border-collapse: collapse;
}
table tbody tr {
  padding-top: 11px;
}
table tbody tr th,
table tbody tr td {
  text-align: left;
  font-family: 'Arial', sans-serife;
  font-size: 16px;
  color: #000;
  width: auto;
  padding-top: 15px;
}
table tbody tr th strong,
table tbody tr td strong {
  font-weight: lighter;
  color: #f33;
}
table tbody tr th.right,
table tbody tr td.right {
  text-align: right;
  white-space: nowrap;
}
table tbody tr th.delivered img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
table tbody tr:first-child {
  border-bottom: 3px solid #ccc;
  min-height: 30px;
  padding-top: 0;
}
table tbody tr:first-child th {
  font-weight: bold;
  vertical-align: bottom;
  min-height: 30px;
  font-size: 14px;
  padding-bottom: 12px;
}
table tbody tr:last-child {
  border-bottom: 1px solid #ccc;
}
table tbody tr:last-child td {
  padding-bottom: 14px;
}
table.empty-caption tr th {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
table.styled-caption tr th.strong {
  font-weight: bold;
}
table.styled-caption tr th.italic {
  font-style: italic;
  font-weight: normal;
}
.price-rouble {
  font-style: normal;
}
.price-rouble:after {
  font-family: 'PT Sans', sans-serif;
  content: " \20B7";
  margin-left: 2px;
  display: inline-block;
  vertical-align: top;
  font-style: normal;
}
.btn {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'HelveticaNeueCyr', sans-serife;
  font-weight: lighter;
  text-align: center;
  border: none;
  height: 56px;
  display: inline-block;
  vertical-align: top;
  line-height: 56px;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
  cursor: pointer;
  border-radius: 6px;
  padding: 0;
  outline: none;
  background: #ed1c24; /* Old browsers */
  background: linear-gradient(to bottom, #ed1c24 0%, #ca181f 100%);
  text-decoration: none;
}
.btn_inline {
  display: inline-block;
  width: auto;
  padding: 0 30px;
}
.btn_disabled,
.btn[disabled] {
  background: #0c3a48;
  color: #53747e;
  cursor: default;
}
.btn:hover {
  background: #fb3e45; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: linear-gradient(to bottom, #fb3e45 0%, #ca181f 100%); /* W3C */
}
.btn:disabled {
  background: #ccc; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: linear-gradient(to bottom, #ccc 0%, #999 100%); /* W3C */
  color: #fff;
  text-shadow: none;
}
.label {
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: lighter;
  text-align: center;
  border: none;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  cursor: pointer;
  padding: 12px 0 9px;
  width: 123px;
  outline: none;
  background: #ed1c24; /* Old browsers */
  background: linear-gradient(to bottom, #ed1c24 0%, #ca181f 100%);
  box-shadow: 1px 1px 0 #e3e3e3;
}
.label:before,
.label:after {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 9px;
  top: 50%;
  margin-top: -4px;
  z-index: 1;
}
.label:before {
  left: -4px;
}
.label:after {
  right: -4px;
}
.label.label-bg-white:after,
.label.label-bg-white:before {
  background: #fff;
}
.label.label-bg-gray:after,
.label.label-bg-gray:before {
  background: #eff0f2;
}
.label.label-bg-black:after,
.label.label-bg-black:before {
  background: #151616;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  margin-top: -14px;
}
.label.label-bg-black:before {
  left: -14px;
}
.label.label-bg-black:after {
  right: -14px;
}
.label:hover {
  background: #fb3e45; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
  background: linear-gradient(to bottom, #fb3e45 0%, #ca181f 100%); /* W3C */
}
.inp {
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  height: 55px;
  line-height: 55px;
  display: inline-block;
  padding-left: 22px;
  background: #fff;
  border: 1px solid #fff;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-radius: 0;
  -webkit-appearance: none;
  color: #ccc;
  font-size: 24px;
  font-family: 'HelveticaNeueCyr', sans-serife;
}
.inp::-webkit-input-placeholder {
  opacity: 1;
  color: #ccc;
  font-size: 24px;
  font-family: 'HelveticaNeueCyr', sans-serife;
}
.inp::-moz-placeholder {
  opacity: 1;
  color: #ccc;
  font-size: 24px;
  font-family: 'HelveticaNeueCyr', sans-serife;
}
.inp:-ms-input-placeholder {
  opacity: 1;
  color: #ccc;
  font-size: 24px;
  font-family: 'HelveticaNeueCyr', sans-serife;
}
.inp::placeholder {
  opacity: 1;
  color: #ccc;
  font-size: 24px;
  font-family: 'HelveticaNeueCyr', sans-serife;
}
.inp:focus::-webkit-input-placeholder {
  opacity: 0;
}
.inp:focus::-moz-placeholder {
  opacity: 0;
}
.inp:focus:-ms-input-placeholder {
  opacity: 0;
}
.inp:focus::placeholder {
  opacity: 0;
}
.inp.error {
  border-top: 1px solid #ec1f27;
  border-left: 1px solid #ec1f27;
}
textarea {
  box-sizing: border-box;
  background: transparent;
  border: 2px solid #dcdcdc;
  border-width: 0 0 2px 0;
  box-shadow: none;
  border-radius: 0px;
  outline: none;
  width: 100%;
  height: 110px;
  display: block;
  padding: 4px 0;
  font-size: 17px;
  color: $cBlack;
  -webkit-appearance: none;
  resize: none;
}
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #e8e6e6;
}
textarea::-moz-placeholder {
  opacity: 1;
  color: #e8e6e6;
}
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #e8e6e6;
}
textarea::placeholder {
  opacity: 1;
  color: #e8e6e6;
}
.jq-checkbox {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  background: #f5f5f5;
  background: linear-gradient(#fff, #e6e6e6);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset -1px -1px #fff, inset 1px -1px #fff;
  cursor: pointer;
}
.jq-checkbox.checked .jq-checkbox__div {
  width: 12px;
  height: 12px;
  margin: 2px 0 0 2px;
  border-radius: 2px;
  background: #666;
  box-shadow: inset 0 -3px 6px #aaa;
}
.jq-checkbox.focused {
  border: 1px solid #08c;
}
.jq-checkbox.disabled {
  opacity: 0.55;
}
.jq-radio {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  background: #f5f5f5;
  background: linear-gradient(#fff, #e6e6e6);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset -1px -1px #fff, inset 1px -1px #fff;
  cursor: pointer;
}
.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  background: #777;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.7);
}
.jq-radio.focused {
  border: 1px solid #08c;
}
.jq-radio.disabled {
  opacity: 0.55;
}
.jq-file {
  width: 270px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.jq-file input {
  height: auto;
  line-height: 1em;
  cursor: pointer;
}
.jq-file__name {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 0 80px 0 10px;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  background: #fff;
  box-shadow: inset 1px 1px #f1f1f1;
  font: 14px/32px Arial, sans-serif;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background: #f5f5f5;
  background: linear-gradient(#fff, #e6e6e6);
  box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0,0,0,0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #fff;
}
.jq-file:hover .jq-file__browse {
  background: #e6e6e6;
  background: linear-gradient(#f6f6f6, #e6e6e6);
}
.jq-file:active .jq-file__browse {
  background: #f5f5f5;
  box-shadow: inset 1px 1px 3px #ddd;
}
.jq-file.focused .jq-file__name {
  border: 1px solid #5794bf;
}
.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
  border-color: #ccc;
  background: #f5f5f5;
  box-shadow: none;
  color: #888;
}
.jq-number {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 36px 0 0;
}
.jq-number__field {
  width: 100px;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0,0,0,0.1);
}
.jq-number__field:hover {
  border-color: #b3b3b3;
}
.jq-number__field input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 9px;
  border: none;
  outline: none;
  background: none;
  font: 14px Arial, sans-serif;
  color: #333;
  text-align: left;
  -moz-appearance: textfield;
}
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 14px;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  background: #f5f5f5;
  background: linear-gradient(#fff, #e6e6e6);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0,0,0,0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px #fff;
  cursor: pointer;
}
.jq-number__spin.minus {
  top: auto;
  bottom: 0;
}
.jq-number__spin:hover {
  background: #e6e6e6;
  background: linear-gradient(#f6f6f6, #e6e6e6);
}
.jq-number__spin:active {
  background: #f5f5f5;
  box-shadow: inset 1px 1px 3px #ddd;
}
.jq-number__spin:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 11px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #999;
  border-left: 5px solid transparent;
}
.jq-number__spin.minus:after {
  top: 5px;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent;
}
.jq-number__spin.minus:hover:after {
  border-top-color: #000;
}
.jq-number__spin.plus:hover:after {
  border-bottom-color: #000;
}
.jq-number.focused .jq-number__field {
  border: 1px solid #5794bf;
}
.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
  border-color: #ccc;
  background: #f5f5f5;
  box-shadow: none;
  color: #888;
}
.jq-number.disabled .jq-number__spin:after {
  border-bottom-color: #aaa;
}
.jq-number.disabled .jq-number__spin.minus:after {
  border-top-color: #aaa;
}
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
}
.jq-selectbox__select {
  height: 32px;
  padding: 0 45px 0 10px;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  background: #f5f5f5;
  background: linear-gradient(#fff, #e6e6e6);
  box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0,0,0,0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #fff;
}
.jq-selectbox__select:hover {
  background: #e6e6e6;
  background: linear-gradient(#f6f6f6, #e6e6e6);
}
.jq-selectbox__select:active {
  background: #f5f5f5;
  box-shadow: inset 1px 1px 3px #ddd;
}
.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #5794bf;
}
.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #ccc;
  background: #f5f5f5;
  box-shadow: none;
  color: #888;
}
.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jq-selectbox .placeholder {
  color: #888;
}
.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: 1px solid #ccc;
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #aaa;
}
.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  font: 14px/18px Arial, sans-serif;
}
.jq-selectbox__search {
  margin: 5px;
}
.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 1px 1px #f1f1f1;
  color: #333;
  -webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #f0f0f0;
  font-size: 13px;
}
.jq-selectbox ul {
  margin: 0;
  padding: 0;
}
.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #231f20;
}
.jq-selectbox li.selected {
  background-color: #a3abb1;
  color: #fff;
}
.jq-selectbox li:hover {
  background-color: #08c;
  color: #fff;
}
.jq-selectbox li.disabled {
  color: #aaa;
}
.jq-selectbox li.disabled:hover {
  background: none;
}
.jq-selectbox li.optgroup {
  font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231f20;
  cursor: default;
}
.jq-selectbox li.option {
  padding-left: 25px;
}
.jq-select-multiple {
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  background: #fff;
  box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0,0,0,0.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default;
}
.jq-select-multiple.focused {
  border: 1px solid #5794bf;
}
.jq-select-multiple.disabled {
  border-color: #ccc;
  background: #f5f5f5;
  box-shadow: none;
  color: #888;
}
.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}
.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
  background: #08c;
  color: #fff;
}
.jq-select-multiple li.disabled {
  color: #aaa;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #ccc;
  color: #fff;
}
.jq-select-multiple li.optgroup {
  font-weight: bold;
}
.jq-select-multiple li.option {
  padding-left: 25px;
}
input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
  padding: 8px 9px;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #f1f1f1, 0 1px 2px rgba(0,0,0,0.1);
  font: 14px Arial, sans-serif;
  color: #333;
}
input[type='search'].styler {
  -webkit-appearance: none;
}
textarea.styler {
  overflow: auto;
}
input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
  border-color: #b3b3b3;
}
input[type='email'].styler:focus,
input[type='password'].styler:focus,
input[type='search'].styler:focus,
input[type='tel'].styler:focus,
input[type='text'].styler:focus,
input[type='url'].styler:focus,
textarea.styler:focus {
  border-color: #ccc;
  border-top-color: #b3b3b3;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
  overflow: visible;
  padding: 8px 11px;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  outline: none;
  background: #f5f5f5;
  background: linear-gradient(#fff, #e6e6e6);
  box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0,0,0,0.1);
  font: 14px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #fff;
  cursor: pointer;
}
button.styler::-moz-focus-inner,
input[type='button'].styler::-moz-focus-inner,
input[type='submit'].styler::-moz-focus-inner,
input[type='reset'].styler::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
  background: #e6e6e6;
  background: linear-gradient(#f6f6f6, #e6e6e6);
}
button.styler:not([disabled]):active,
input[type='button'].styler:not([disabled]):active,
input[type='submit'].styler:not([disabled]):active,
input[type='reset'].styler:active {
  background: #f5f5f5;
  box-shadow: inset 1px 1px 3px #ddd;
}
button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
  border-color: #ccc;
  background: #f5f5f5;
  box-shadow: none;
  color: #888;
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url("/static/img/fancy/fancybox_sprite.png");
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/static/img/fancy/fancybox_loading.gif") center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("/static/img/fancy/blank.gif");
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
left 10px {
  background-position: 0 -36px;
}
right 10px {
  background-position: 0 -72px;
}
visibility visible,
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: visible !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("/static/img/fancy/fancybox_overlay.png");
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0,0,0,0.8);
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-float-wrap .child -webkit-border-radius 15px -moz-border-radius 15px {
  border-radius: 15px;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0,0,0,0.8);
}
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 500ms ease-in-out;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
/* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
/* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.no-js .owl-carousel {
  display: block;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.popup-form {
  padding: 20px;
  width: 580px;
  background: #f9f9f9;
  display: block;
  text-align: left;
}
.popup-form h3 {
  color: #000;
  padding-bottom: 45px;
  text-align: center;
}
.popup-form label {
  padding-bottom: 18px;
  text-align: center;
  white-space: nowrap;
  display: block;
}
.popup-form label span {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  font-size: 18px;
  text-align: left;
  font-weight: lighter;
  padding-top: 15px;
}
.popup-form label .inp {
  width: 428px;
  background: #fff;
  color: #000;
  font-size: 18px;
  font-weight: lighter;
}
.popup-form label.check {
  text-align: left;
}
.popup-form label.check .inp-checkbox {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 153px;
  margin-top: 5px;
}
.popup-form label.check span {
  width: 300px;
  padding-top: 0;
}
.popup-form .btn {
  height: 41px;
  line-height: 41px;
  padding: 0 43px;
  font-size: 16px;
  margin: 15px auto 0;
  display: block;
  width: 200px;
}
.popup-form a.forget {
  display: block;
  text-align: center;
  margin: 15px auto 0;
}
.header.header-index {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header {
  background: #fff;
  display: block;
  padding-top: 26px;
  position: relative;
  z-index: 10;
  padding-bottom: 15px;
  white-space: nowrap;
}
.header a {
  text-decoration: none;
}
.header .width-wrap {
  height: 45px;
  padding-bottom: 10px;
}
.header-logo {
  display: inline-block;
  vertical-align: top;
}
.header-logo img {
  display: inline-block;
  vertical-align: top;
}
.header-logo-hp {
  width: 132px;
  height: 44px;
}
.header-logo-sch {
  width: 86px;
  height: 45px;
  margin-left: 33px;
}
.header-phone {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Arial', sans-serife;
  color: #000;
  margin-left: 155px;
  margin-top: 17px;
}
.header-adress {
  display: inline-block;
  vertical-align: top;
  margin-left: 44px;
  padding-top: 15px;
  font-family: 'Arial', sans-serife;
}
.header-download {
  display: inline-block;
  vertical-align: top;
  padding: 0 14px;
  height: 39px;
  line-height: 40px;
  border-radius: 6px;
  cursor: pointer;
  background: transparent;
  padding-right: 48px;
  border: 1px dashed #cf181f;
  color: #cf181f;
  position: relative;
  margin-left: 80px;
  margin-top: 7px;
  font-size: 14px;
}
.header-download:after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background: url("/static/img/icon--pdf.png") no-repeat 0 0;
  top: 11px;
  right: 16px;
}
.header-download:hover {
  background: #ed1c24; /* Old browsers */
  background: linear-gradient(to bottom, #ed1c24 0%, #ca181f 100%);
  color: #fff;
}
.header-download:hover a {
  display: inline-block;
  vertical-align: top;
  background: #535353;
  background: linear-gradient(to bottom, #535353 0%, #2b2b2b 100%);
  border-radius: 6px;
  text-align: center;
  width: 113px;
  height: 41px;
  color: #fff;
  line-height: 41px;
  margin-right: 2px;
}
nav {
  display: block;
  background: #fff;
  margin-top: 11px;
  position: relative;
}
nav .width-wrap {
  border-top: 1px solid #e1e5e9;
  padding-top: 15px;
  padding-bottom: 0 !important;
}
nav .width-wrap .main-nav {
  display: inline-block;
  vertical-align: top;
}
nav .width-wrap .main-nav__el {
  display: inline-block;
  vertical-align: top;
}
nav .width-wrap .main-nav__el a {
  padding: 0 14px;
  height: 39px;
  line-height: 40px;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  background: transparent;
  border: 1px solid transparent;
  color: #000;
  font-size: 14px;
  font-family: 'Arial', sans-serife;
}
nav .width-wrap .main-nav__el a:hover {
  background: #ed1c24; /* Old browsers */
  background: linear-gradient(to bottom, #ed1c24 0%, #ca181f 100%);
  color: #fff;
}
nav .width-wrap .main-nav__el:first-child {
  margin-left: -15px;
}
nav .width-wrap .main-nav__el.main-nav__el-pdf {
  margin-left: 5px;
}
nav .width-wrap .main-nav__el.main-nav__el-pdf a {
  padding-right: 48px;
  border: 1px dashed #cf181f;
  color: #cf181f;
  position: relative;
}
nav .width-wrap .main-nav__el.main-nav__el-pdf a:after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background: url("/static/img/icon--pdf.png") no-repeat 0 0;
  top: 11px;
  right: 16px;
}
nav .width-wrap .main-nav__el.main-nav__el-pdf a:hover {
  color: #fff;
}
nav .width-wrap .header-login {
  float: right;
  display: inline-block;
  vertical-align: top;
  background: #535353;
  background: linear-gradient(to bottom, #535353 0%, #2b2b2b 100%);
  border-radius: 6px;
  text-align: center;
  width: 113px;
  height: 41px;
  color: #fff;
  line-height: 41px;
  margin-right: 2px;
}
header:after {
  position: absolute;
  content: '';
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: url("/static/img/decor--wave-bottom.png") repeat-x 0 0;
  z-index: 100;
}
.footer {
  background: #fff;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  height: 380px;
}
.footer-banner {
  display: block;
  text-align: left;
  padding-top: 46px;
  padding-bottom: 42px;
  border-bottom: 1px solid #999;
}
.footer-banner-title {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #666;
  font-family: 'HelveticaNeueCyr', sans-serife;
  font-weight: lighter;
  padding-bottom: 45px;
}
.footer-banner-title i {
  font-style: italic;
}
.footer-banner a {
  display: inline-block;
  vertical-align: top;
}
.footer-banner a img {
  display: block;
}
.footer-banner a:nth-child(2) {
  margin-left: 256px;
  margin-top: -10px;
}
.footer-banner a:nth-child(3) {
  margin-left: 132px;
  margin-top: 1px;
}
.footer-banner a:nth-child(4) {
  margin-left: 82px;
  margin-top: 11px;
}
.footer-info {
  padding-top: 22px;
}
.footer-info-copyright {
  display: inline-block;
  vertical-align: top;
  padding-top: 13px;
  font-size: 14px;
}
.footer-info-made {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 2px;
  cursor: pointer;
  text-decoration: none;
}
.footer-info-made span {
  display: block;
  font-size: 9px;
}
.footer-info-made img {
  margin-top: -10px;
}
.footer:before {
  position: absolute;
  content: '';
  top: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: url("/static/img/decor--wave-top.png") repeat-x 0 0;
  z-index: 100;
}
.bg-aside {
  white-space: nowrap;
}
.bg-aside:before {
  position: absolute;
  content: '';
  z-index: 0;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 270px;
  background: #2b2e33;
  margin-left: -600px;
}
.aside {
  background: #2b2e33;
  color: #fff;
  white-space: normal;
  position: relative;
  z-index: 1;
}
.aside a:hover {
  text-decoration: none;
}
.aside-lk {
  display: block;
  background: #000;
  padding-left: 27px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'HelveticaNeueCyr', sans-serife;
  padding-top: 21px;
  padding-bottom: 20px;
  letter-spacing: 1px;
  color: #fff;
}
.aside-status {
  display: block;
  border-bottom: 1px solid #666;
  padding-left: 27px;
  position: relative;
  padding-top: 24px;
  min-height: 72px;
}
.aside-status span {
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
  width: 50%;
  color: #fff;
  font-family: 'HelveticaNeueCyr', sans-serife;
  font-size: 16px;
}
.aside-status img {
  position: absolute;
  width: 90px;
  height: 89px;
  top: 12px;
  right: 23px;
  z-index: 10;
}
.aside-links {
  padding-top: 13px;
  padding-bottom: 7px;
  padding-left: 27px;
}
.aside-links div {
  display: block;
  margin-bottom: 9px;
}
.aside-links div a {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
  line-height: 16px;
}
.aside-bill {
  background: #464b53;
  padding-left: 27px;
  padding-top: 17px;
  padding-bottom: 5px;
  border-bottom: 1px solid #666;
}
.aside-bill-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-family: 'HelveticaNeueCyr', sans-serife;
  letter-spacing: 1px;
  color: #fff;
}
.aside-bill div {
  display: block;
  margin-bottom: 10px;
  margin-top: 31px;
  padding-bottom: 10px;
}
.aside-bill div span {
  display: block;
  vertical-align: baseline;
  font-family: 'HelveticaNeueCyr', sans-serife;
  padding-bottom: 3px;
  color: #fff;
}
.aside-bill div span strong {
  font-size: 36px;
  padding-right: 10px;
  font-weight: lighter;
}
.aside-bill div span.aside-bill--point-value strong {
  color: #fc0;
}
.aside-bill div a {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  text-decoration: underline;
  font-size: 14px;
  line-height: 16px;
}
.aside-nav {
  display: block;
  padding-bottom: 30px;
}
.aside-nav__el {
  border-bottom: 1px solid #666;
  position: relative;
  display: block;
}
.aside-nav__el a {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  display: block;
  padding-left: 27px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 60px;
}
.aside-nav__el a span {
  position: absolute;
  display: block;
  color: #000;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  line-height: 30px;
  top: 12px;
  right: 25px;
}
.aside-nav__el.current:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 7px 6.5px 0;
  border-color: transparent #fff transparent transparent;
  top: 50%;
  margin-top: -4px;
  right: 0;
}
.aside-nav__el:hover {
  background: #ed1c24; /* Old browsers */
  background: linear-gradient(to bottom, #ed1c24 0%, #ca181f 100%);
}
.page-content {
  white-space: normal;
  padding-top: 19px;
  padding-bottom: 45px;
}
.page-content p {
  line-height: 21px;
}
.page-content .breadcrumbs {
  position: relative;
  margin-left: -2px;
  border-radius: 0;
  padding-left: 43px;
  font-size: 16px;
  padding-right: 30px;
  margin-bottom: 12px;
  height: 57px;
  text-decoration: none;
}
.page-content .breadcrumbs:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 28px 0 0;
  border-color: #f8f9fb transparent transparent transparent;
  top: 0;
  left: -5px;
  z-index: 5;
  -ms-transform: scaleX(0.65);
      transform: scaleX(0.65);
  -webkit-transform: scaleX(0.65);
}
.page-content .breadcrumbs:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 0 0 28px;
  border-color: transparent transparent transparent #f8f9fb;
  bottom: 0;
  left: -5px;
  z-index: 5;
  -ms-transform: scaleX(0.65);
      transform: scaleX(0.65);
  -webkit-transform: scaleX(0.65);
}
.page-content h1 {
  padding-top: 13px;
  padding-bottom: 28px;
}
.page-content .search--block {
  display: block;
  margin-bottom: 45px;
  white-space: nowrap;
}
.page-content .search--block .inp {
  width: 730px;
  margin-right: 9px;
}
.page-content .search--block .btn {
  width: 147px;
}
.page-content .catalog-section--list {
  margin-left: -40px;
  width: 930px;
}
.page-content .catalog-section--list__el {
  display: inline-block;
  vertical-align: top;
  width: 425px;
  margin-bottom: 40px;
  background: #fff;
}
.page-content .catalog-section--list__el a {
  display: block;
  height: 291px;
  position: relative;
  border: 1px solid #ccc;
  box-shadow: 4px 4px 0 #dfe0e1;
  padding-left: 35px;
  cursor: pointer;
  text-decoration: none;
}
.page-content .catalog-section--list__el a h2 {
  display: block;
  margin-top: 36px;
  margin-bottom: 21px;
  min-height: 54px;
}
.page-content .catalog-section--list__el-text {
  display: block;
  font-size: 18px;
  vertical-align: baseline;
  font-family: 'HelveticaNeueCyr', sans-serife;
  font-weight: lighter;
  margin-bottom: 13px;
}
.page-content .catalog-section--list__el-text strong {
  font-size: 36px;
  font-weight: normal;
  padding-right: 10px;
}
.page-content .catalog-section--list__el .label {
  margin-top: 12px;
}
.page-content .catalog-section--list__el a:hover {
  border: 1px solid #ed1c24;
}
.page-content .catalog-section--list__el-number {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  background: #ed1c24;
  border-radius: 30px;
  display: block;
}
.page-content .catalog-section--list .catalog-section--list__el.three-fourth a h2 {
  min-height: 10px !important;
}
.catalog-item {
  display: block;
  border: 1px solid #ccc;
  white-space: nowrap;
  box-shadow: 4px 4px 0 #dfe0e1;
  background: #fff;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 65px;
}
.catalog-item-img {
  width: 341px;
  background: #fff;
  text-align: center;
  padding-top: 25px;
}
.catalog-item-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  height: 100%;
}
.catalog-item-content {
  white-space: normal;
  width: 468px;
  padding: 24px 34px;
  background: #eff0f2;
  min-height: 290px;
}
.catalog-item-content-old {
  display: block;
  margin-top: 6px;
  margin-bottom: 15px;
}
.catalog-item-content-old span {
  font-size: 21px;
  color: #333;
  font-family: 'HelveticaNeueCyr', sans-serife;
  text-decoration: line-through;
  font-weight: lighter;
}
.catalog-item-content-new {
  display: block;
  margin-bottom: 27px;
}
.catalog-item-content-new span {
  font-size: 24px;
  font-family: 'HelveticaNeueCyr', sans-serife;
  font-weight: lighter;
  width: auto;
  padding: 21px 26px 19px 26px;
}
.catalog-item-content label {
  display: block;
  margin-bottom: 19px;
}
.catalog-item-content label span {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  padding-top: 17px;
  padding-right: 16px;
  font-family: 'HelveticaNeueCyr', sans-serife;
  font-weight: lighter;
}
.catalog-item-content label .jq-selectbox select {
  display: none;
}
.catalog-item-content label .jq-selectbox .jq-selectbox__select {
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  height: 55px;
  line-height: 55px;
  display: inline-block;
  padding-left: 15px;
  background: #fff;
  border: 1px solid #fff;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-radius: 0;
  -webkit-appearance: none;
  font-size: 20px;
  font-family: 'HelveticaNeueCyr', sans-serife;
  width: 270px;
}
.catalog-item-content label .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
  font-size: 20px;
  padding-top: 13px;
  font-weight: lighter;
}
.catalog-item-content label .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
  border-left: none;
}
.catalog-item-content label .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow {
  top: 26px;
  right: 18px;
}
.catalog-item-content label .jq-selectbox__dropdown li {
  display: block;
  color: #000;
  font-size: 20px;
  font-family: 'HelveticaNeueCyr', sans-serife;
}
.catalog-item-content label .jq-selectbox__dropdown li:hover {
  background: #a3abb1;
}
.catalog-item-content-value {
  display: block;
  padding-top: 14px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: auto;
}
.catalog-recommend {
  margin-top: 47px;
}
.catalog-recommend h3 {
  margin-bottom: 32px;
}
.catalog-recommend .catalog-list {
  margin-top: 0;
}
.catalog-list {
  display: block;
  margin-left: -40px;
  margin-top: 35px;
}
.catalog-list a {
  text-decoration: none;
}
.catalog-list .catalog-list__el {
  border: 1px solid #ccc;
  box-shadow: 4px 4px 0 #dfe0e1;
  background: #fff;
  text-align: center;
  margin-bottom: 40px;
  width: 268px !important;
}
.catalog-list .catalog-list__el a {
  display: block;
  padding: 25px 20px 15px;
}
.catalog-list .catalog-list__el img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  max-height: 150px;
}
.catalog-list .catalog-list__el-name {
  display: block;
  text-align: left;
  min-height: 57px;
  line-height: 18px;
  font-size: 14px;
  padding-bottom: 5px;
}
.catalog-list .catalog-list__el-price {
  text-align: center;
  vertical-align: baseline;
  font-family: 'HelveticaNeueCyr', sans-serife;
  font-weight: lighter;
  display: block;
}
.catalog-list .catalog-list__el-price strong {
  font-size: 32px;
  color: #ed1c24;
  padding-right: 10px;
  font-weight: lighter;
}
.catalog-list .catalog-list__el .catalog-item-basket {
  margin: 0 20px 25px;
}
.catalog-list .catalog-list__el .item-none {
  display: none;
  font-size: 36px;
  color: #ed1c24;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -30px;
  z-index: 11;
}
.catalog-list .catalog-list__el:hover {
  border: 1px solid #ed1c24;
}
.catalog-list .catalog-list__el.disable {
  cursor: default;
  position: relative;
}
.catalog-list .catalog-list__el.disable .item-none {
  display: block !important;
}
.catalog-list .catalog-list__el.disable:hover {
  border: 1px solid #ccc;
}
.catalog-list .catalog-list__el.disable:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.8);
  z-index: 10;
}
.catalog-item-basket {
  height: 44px;
}
.catalog-item-basket .catalog-item-basket-add {
  display: block;
  width: 230px;
  height: 44px;
  background: #464b53;
  white-space: nowrap;
}
.catalog-item-basket .catalog-item-basket-add div {
  display: inline-block;
  vertical-align: top;
  height: 44px;
  position: relative;
  border-right: 1px solid #939393;
  width: 61px;
  text-align: left;
}
.catalog-item-basket .catalog-item-basket-add div input {
  display: inline-block;
  vertical-align: top;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-family: 'Arial', sans-serife;
  margin-top: 12px;
  margin-left: 5px;
  padding-left: 5px;
  width: 25px;
}
.catalog-item-basket .catalog-item-basket-add div span {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.catalog-item-basket .catalog-item-basket-add div .catalog-item-basket-add-amount {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent #939393 transparent;
  top: 12px;
}
.catalog-item-basket .catalog-item-basket-add div .catalog-item-basket-remove-amount {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5.5px 0 5.5px;
  border-color: #939393 transparent transparent transparent;
  top: 28px;
}
.catalog-item-basket .catalog-item-basket-add a {
  display: inline-block;
  vertical-align: top;
  padding-top: 14px;
  padding-left: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}
.catalog-item-basket-link {
  display: none;
  height: 44px;
  position: relative;
  background: #ed1c24;
  width: 230px;
}
.catalog-item-basket-link a {
  display: block;
  color: #fff;
  text-align: center;
  font-family: 'Arial', sans-serife;
  font-size: 14px;
  line-height: 44px;
  padding: 0 !important;
  cursor: pointer;
}
.catalog-item-basket-link a i {
  font-style: normal;
  padding: 0 5px;
}
.catalog-item-basket.item-added .catalog-item-basket-add {
  display: none;
}
.catalog-item-basket.item-added .catalog-item-basket-link {
  display: block;
}
.show-more {
  display: block;
  margin: 30px auto;
  width: 147px;
  font-size: 14px;
  text-shadow: none;
  height: 41px;
  line-height: 41px;
}
.news-list {
  display: block;
  margin-top: 12px;
}
.news-list__el {
  display: block;
  margin-bottom: 35px;
}
.news-date {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
  font-family: 'Arial', sans-serife;
}
.news-link {
  display: block;
  color: #f33;
  font-size: 26px;
  text-decoration: underline;
  font-family: 'HelveticaNeueCyr', sans-serife;
  font-weight: lighter;
  cursor: pointer;
  margin-bottom: 13px;
  padding-right: 260px;
}
.news-link:hover {
  text-decoration: none;
}
.news-text {
  line-height: 24px;
  font-size: 16px;
  color: #000;
  font-family: 'Arial', sans-serife;
}
.news-text p {
  line-height: 24px;
  font-size: 16px;
}
.news-post {
  line-height: 24px;
  font-size: 16px;
  color: #000;
  font-family: 'Arial', sans-serife;
}
.news-post h1 {
  padding-bottom: 18px;
}
.news-post time {
  margin-bottom: 40px;
}
.news-post p {
  line-height: 24px;
  font-size: 16px;
  display: block;
  margin-bottom: 25px;
}
.news-post a {
  line-height: 24px;
  font-size: 16px;
  text-decoration: underline;
}
.news-post a:hover {
  text-decoration: none;
}
.conditions-list {
  margin-top: 10px;
  display: block;
}
.conditions-list__el {
  margin-bottom: 20px;
  display: block;
}
.conditions-list__el div {
  padding-left: 60px;
  font-family: 'Arial', sans-serife;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
.conditions-list__el div p,
.conditions-list__el div a,
.conditions-list__el div li {
  font-size: 16px;
  line-height: 24px;
}
.conditions-list__el div a {
  text-decoration: underline;
}
.conditions-list__el div a:hover {
  text-decoration: none;
}
.conditions-list__el div ul {
  display: block;
}
.conditions-list__el div ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}
.conditions-list__el div ul li:before {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 7px;
  border: 1px solid #000;
  background: #000;
  top: 7px;
  left: -2px;
}
.conditions-list__el div ul ul {
  margin-top: 10px;
}
.conditions-list__el div ul ul li:before {
  background: transparent;
}
.slide h2 {
  display: block;
  padding-left: 55px;
  position: relative;
  cursor: pointer;
  min-height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
.slide h2:before {
  position: absolute;
  content: '';
  width: 29px;
  height: 29px;
  border-radius: 29px;
  top: 0;
  left: 0;
  background: #ed1c24; /* Old browsers */
  background: linear-gradient(to bottom, #ed1c24 0%, #ca181f 100%);
}
.slide h2:after {
  position: absolute;
  content: '';
  width: 9px;
  height: 13px;
  top: 7px;
  left: 11px;
  background: url("/static/img/icon--arrow-right.png") no-repeat 0 0;
}
.slide-content {
  display: none;
}
.active h2:before {
  background: #535353;
  background: linear-gradient(to bottom, #535353 0%, #2b2b2b 100%);
}
.active h2:after {
  width: 13px;
  height: 9px;
  top: 9px;
  left: 8px;
  background: url("/static/img/icon--arrow-top.png") no-repeat 0 0;
}
.credit ul {
  margin-top: 25px;
}
.credit ul li {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: 'Arial', sans-serife;
  padding-bottom: 10px;
}
.credit ul li:before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #000;
  top: 8px;
  left: 3px;
}
.credit-text {
  padding-top: 15px;
}
.credit-text p {
  padding-bottom: 15px;
}
.credit-request {
  display: block;
  margin-top: 13px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 0 #dfe0e1;
  background: #fff;
  padding: 48px 40px 41px;
  text-align: center;
  margin-bottom: 80px;
}
.credit-request label {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}
.credit-request label span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}
.credit-request label .inp {
  display: inline-block;
  vertical-align: middle;
  width: 85px;
  padding-left: 0;
  text-align: center;
  margin: 0 15px;
  color: #000;
  font-size: 16px;
  font-family: 'Arial', sans-serife;
  background: #f6f8f8;
}
.credit-request .btn {
  font-size: 14px;
  padding: 0 28px;
  line-height: 41px;
  height: 41px;
}
.credit-popup {
  padding: 30px;
  width: 500px;
  display: block;
  color: #000;
}
.popup-block h2 {
  padding-bottom: 30px;
}
.popup-block p {
  padding-bottom: 30px;
}
.popup-block .btn {
  padding: 0 25px;
  font-size: 14px;
  text-shadow: none;
  height: 41px;
  line-height: 41px;
}
.account-current {
  display: block;
  padding: 30px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 0 #dfe0e1;
  margin-top: 16px;
  margin-bottom: 55px;
}
.account-current table {
  margin-top: 8px;
  margin-bottom: 30px;
  width: 100%;
}
.account-current table h2 {
  line-height: 32px;
}
.account-current table h2 strong {
  color: #f33;
  font-size: 24px;
  font-weight: lighter;
}
.account-current .account-current-list {
  display: block;
  margin-top: 5px;
}
.account-current .account-current-list__el {
  display: block;
  margin-bottom: 22px;
}
.account-current .account-current-list__el-title {
  display: block;
  padding-bottom: 10px;
}
.account-current .account-current-list__el h3.grid-item {
  width: 275px;
}
.account-current .account-current-list__el h3.grid-item strong {
  color: #f33;
  font-weight: lighter;
}
.account-current .account-current-list__el p.grid-item {
  width: 530px;
}
.download-xl {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #000;
  padding: 7px 62px 8px 25px;
  text-decoration: none;
  background: url("/static/img/icon--xl.jpg") no-repeat 85% 49%;
  margin-top: 35px;
  font-size: 14px;
  border-radius: 7px;
  margin-bottom: 10px;
}
.cart-list {
  display: block;
  margin-top: 2px;
  border-top: 3px solid #ccc;
}
.cart-list__el {
  padding-top: 14px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ccc;
}
.cart-list__el-img {
  width: 78px;
  height: 78px;
  border: 1px solid #ccc;
  background: #fff;
  margin-right: 18px;
  text-align: center;
}
.cart-list__el-img img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.cart-list__el-content {
  width: 480px;
  margin-right: 18px;
  padding-top: 5px;
}
.cart-list__el-content a {
  display: block;
  padding-bottom: 5px;
}
.cart-list__el-content span {
  font-size: 14px;
  color: #666;
}
.cart-list__el-amount {
  width: 66px;
  height: 43px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #fff;
  position: relative;
  margin-top: 9px;
  margin-right: 55px;
}
.cart-list__el-amount .cart-item-amount-input {
  display: inline-block;
  vertical-align: top;
  border: none;
  outline: none;
  background: transparent;
  color: #000;
  font-size: 14px;
  font-family: 'Arial', sans-serife;
  margin-top: 8px;
  margin-left: 5px;
  padding-left: 5px;
  width: 25px;
}
.cart-list__el-amount span {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.cart-list__el-amount span.add-amount {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent #939393 transparent;
  top: 12px;
}
.cart-list__el-amount span.remove-amount {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5.5px 0 5.5px;
  border-color: #939393 transparent transparent transparent;
  top: 28px;
}
.cart-list__el-empty {
  display: none;
}
.cart-list__el-total {
  margin-top: 13px;
  margin-right: 60px;
}
.cart-list__el-total p {
  font-size: 14px;
}
.cart-list__el-total p strong {
  display: block;
  font-size: 18px;
  color: #ed1c24;
  font-weight: lighter;
}
.cart-list__el-remove a {
  margin-top: 30px;
  width: 14px;
  height: 14px;
  background: url("/static/img/icon--remove.png") no-repeat 0 0;
  cursor: pointer;
  display: block;
}
.cart-list .cart-list__el.no-item .cart-list__el-amount {
  display: none;
}
.cart-list .cart-list__el.no-item .cart-list__el-remove {
  display: none;
}
.cart-list .cart-list__el.no-item .cart-list__el-total {
  display: none;
}
.cart-list .cart-list__el.no-item .cart-list__el-empty {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  height: 75px;
  background: #d3d5dd;
  text-align: center;
}
.cart-list .cart-list__el.no-item .cart-list__el-empty span {
  display: block;
  padding-top: 10px;
  font-size: 14px;
}
.cart-list .cart-list__el.no-item .cart-list__el-empty a {
  display: block;
  text-align: center;
  color: #c00;
  font-size: 14px;
}
.cart-list .cart-list__el.no-item .cart-list__el-empty:before,
.cart-list .cart-list__el.no-item .cart-list__el-empty:after {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 9px;
  top: 50%;
  margin-top: -4px;
  z-index: 1;
  background: #f8f9fb;
}
.cart-list .cart-list__el.no-item .cart-list__el-empty:before {
  left: -4px;
}
.cart-list .cart-list__el.no-item .cart-list__el-empty:after {
  right: -4px;
}
.cart-list .cart-list__el.no-item .cart-list__el-content a {
  color: #7c7d7e;
}
.cart-list .cart-list__el.no-item .cart-list__el-content span {
  color: #afb0b1;
}
.cart-list .cart-list__el.no-item .cart-list__el-img {
  position: relative;
}
.cart-list .cart-list__el.no-item .cart-list__el-img:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.6);
  z-index: 5;
}
.cart-total-block {
  display: block;
  text-align: right;
  margin-top: 27px;
}
.cart-total-block .btn {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  margin-right: 3px;
  font-size: 14px;
  padding: 0 29px;
  height: 41px;
  line-height: 41px;
}
.cart-total-block p.cart-total {
  font-size: 14px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
  width: 150px;
}
.cart-total-block p.cart-total strong {
  font-size: 32px;
  line-height: 27px;
  color: #ed1c24;
  display: block;
  font-weight: lighter;
}
.cart-total-block .cart-disable {
  display: none;
}
.cart-total-block.disabled .cart-disable {
  display: block;
  margin-left: 302px;
  padding: 25px 30px;
  background: #fff;
  position: relative;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 0 #dfe0e1;
  width: 343px;
  margin-top: 16px;
  text-align: left;
}
.cart-total-block.disabled .cart-disable p {
  margin-bottom: 15px;
}
.cart-total-block.disabled .cart-disable p a {
  color: #ed1c24;
  cursor: pointer;
}
.cart-total-block.disabled .cart-disable p a i {
  font-style: normal;
}
.cart-total-block.disabled .cart-disable:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background: #fff;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: -9px;
  right: 56px;
}
.accoutn-orders table {
  margin-top: 0;
  width: 100%;
  margin-bottom: 17px;
}
.accoutn-orders .cart-total-block {
  margin-top: 0;
}
.accoutn-orders .cart-total-block p.cart-total strong {
  font-weight: lighter;
}
.order-form h2 {
  margin-bottom: 17px;
}
.order-form h2 strong {
  font-weight: lighter;
  color: #ed1c24;
}
.order-form label {
  display: block;
  margin-bottom: 33px;
}
.order-form label .inp {
  width: 100%;
  color: #000;
  font-size: 16px;
  background: #f6f8f8;
}
.order-form .submit {
  text-align: right;
  margin-top: 15px;
}
.order-form .submit .btn {
  height: 41px;
  line-height: 41px;
  font-size: 14px;
  padding: 0 25px;
}
.order-contacts {
  margin-top: 20px;
  padding-bottom: 30px;
}
.order-contacts__el {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  padding-right: 20px;
}
.order-contacts__el h3 {
  margin-bottom: 10px;
}
.promo {
  height: 650px;
  position: relative;
  margin-top: 168px;
}
.promo .index-slider {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.promo .index-slider .owl-item {
  height: 650px;
}
.promo .index-slider .owl-item .index-slider__el {
  height: 650px;
  background-size: cover;
}
.promo .width-wrap {
  position: relative;
  z-index: 5;
  text-align: center;
}
.promo .width-wrap span {
  color: #fff;
  display: block;
  text-align: center;
  font-weight: lighter;
  font-size: 24px;
}
.promo .width-wrap span.promo-club {
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding-top: 144px;
  padding-bottom: 7px;
  margin-bottom: 70px;
}
.promo .width-wrap span.promo-title {
  font-size: 72px;
  line-height: 86px;
  padding-bottom: 24px;
}
.promo .width-wrap a {
  position: absolute;
  width: 66px;
  height: 66px;
  border-radius: 66px;
  background: #fff url("/static/img/icon--arrow-bottom.png") no-repeat 50% 50%;
  bottom: -130px;
  left: 50%;
  margin-left: -33px;
}
.promo:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: url("/static/img/decor--wave-top.png") repeat-x 0 0;
  z-index: 5;
  content: '';
}
.part {
  background: #fff;
}
.part .width-wrap {
  padding-top: 65px;
  padding-bottom: 50px;
  text-align: center;
}
.part .width-wrap h3 {
  text-transform: uppercase;
  font-size: 36px;
  padding-bottom: 38px;
}
.part .width-wrap p {
  font-size: 18px;
  line-height: 34px;
  font-weight: lighter;
}
.part .width-wrap p strong {
  display: block;
  font-weight: lighter;
  font-size: 30px;
}
.part .width-wrap .part-list {
  white-space: nowrap;
  text-align: center;
  margin-top: 42px;
}
.part .width-wrap .part-list__el {
  width: 349px;
  height: 212px;
  white-space: normal;
  color: #fff;
}
.part .width-wrap .part-list__el p {
  color: #fff;
  padding-top: 95px;
  font-size: 16px;
  line-height: 24px;
}
.part .width-wrap .part-list__el strong {
  font-weight: lighter !important;
  font-size: 30px;
  line-height: 34px;
  display: block;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}
.part .width-wrap .part-list .part-list__el:nth-child(1) {
  background: url("/static/img/bg__use-1.png") no-repeat 0 0;
}
.part .width-wrap .part-list .part-list__el:nth-child(2) {
  background: url("/static/img/bg__use-2.png") no-repeat 0 0;
  margin: 0 75px;
}
.part .width-wrap .part-list .part-list__el:nth-child(3) {
  background: url("/static/img/bg__use-3.png") no-repeat 0 0;
}
.part:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background: url("/static/img/decor--wave-bottom.png") repeat-x 0 0;
  z-index: 5;
  content: '';
}
.profit {
  background: #f8f9fb;
  position: relative;
}
.profit .width-wrap {
  padding-top: 67px;
  padding-bottom: 90px;
  text-align: center;
}
.profit .width-wrap h3 {
  text-transform: uppercase;
  font-size: 36px;
  padding-bottom: 38px;
}
.profit .width-wrap p {
  font-size: 18px;
}
.profit .width-wrap p a {
  text-decoration: underline;
  display: inline-block;
  vertical-align: top;
}
.profit .width-wrap p a.active {
  background: #fff0f0;
  text-decoration: none;
  cursor: default;
}
.profit .width-wrap .profit-scheme {
  position: relative;
  width: 1200px;
  height: 370px;
  margin-top: 70px;
}
.profit .width-wrap .profit-scheme .slide-1.profit-point {
  background: url("/static/img/img--graf.png") no-repeat 0 0;
}
.profit .width-wrap .profit-scheme .slide-1.profit-point .profit-point__el:nth-child(1) {
  top: 153px;
  left: 339px;
}
.profit .width-wrap .profit-scheme .slide-1.profit-point .profit-point__el:nth-child(1) .profit-point__el-text {
  margin-top: -50px;
  margin-left: -40px;
}
.profit .width-wrap .profit-scheme .slide-1.profit-point .profit-point__el:nth-child(2) {
  top: 204px;
  left: 639px;
}
.profit .width-wrap .profit-scheme .slide-1.profit-point .profit-point__el:nth-child(2) .profit-point__el-text {
  margin-top: 30px;
  margin-left: -40px;
}
.profit .width-wrap .profit-scheme .slide-1.profit-point .profit-point__el:nth-child(3) {
  top: 109px;
  left: 938px;
}
.profit .width-wrap .profit-scheme .slide-1.profit-point .profit-point__el:nth-child(3) .profit-point__el-text {
  margin-top: -45px;
  margin-left: -40px;
}
.profit .width-wrap .profit-scheme .slide-2.profit-point {
  background: url("/static/img/img--graf-1.png") no-repeat 0 0;
}
.profit .width-wrap .profit-scheme .slide-2.profit-point .profit-point__el:nth-child(1) {
  top: 153px;
  right: 339px;
}
.profit .width-wrap .profit-scheme .slide-2.profit-point .profit-point__el:nth-child(1) .profit-point__el-text {
  margin-top: -50px;
  margin-left: -40px;
}
.profit .width-wrap .profit-scheme .slide-2.profit-point .profit-point__el:nth-child(2) {
  top: 204px;
  right: 639px;
}
.profit .width-wrap .profit-scheme .slide-2.profit-point .profit-point__el:nth-child(2) .profit-point__el-text {
  margin-top: 30px;
  margin-left: -40px;
}
.profit .width-wrap .profit-scheme .slide-2.profit-point .profit-point__el:nth-child(3) {
  top: 109px;
  right: 938px;
}
.profit .width-wrap .profit-scheme .slide-2.profit-point .profit-point__el:nth-child(3) .profit-point__el-text {
  margin-top: -45px;
  margin-left: -40px;
}
.profit .width-wrap .profit-scheme .profit-point {
  position: relative;
  width: 1200px;
  height: 370px;
  display: none;
}
.profit .width-wrap .profit-scheme .profit-point.active {
  display: block;
}
.profit .width-wrap .profit-scheme .profit-scheme-text {
  position: absolute;
  top: 68px;
  left: 75px;
  padding: 20px;
  border-radius: 10px;
  background: #ffe9c7;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  z-index: 5;
}
.profit .width-wrap .profit-scheme .profit-point__el {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #c00;
  border: 3px solid #fff;
  box-shadow: 0 0 1px #c00;
  border-radius: 12px;
  display: inline-block;
  vertical-align: top;
}
.profit .width-wrap .profit-scheme .profit-point__el .profit-point__el-popup {
  position: absolute;
  bottom: 40px;
  background: #fff;
  width: 140px;
  padding: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  left: -80px;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
.profit .width-wrap .profit-scheme .profit-point__el .profit-point__el-popup .label {
  font-size: 14px;
  margin-bottom: 10px;
}
.profit .width-wrap .profit-scheme .profit-point__el .profit-point__el-popup img {
  display: block;
  margin: 0 auto 10px;
}
.profit .width-wrap .profit-scheme .profit-point__el .profit-point__el-popup .profit-point__el-name {
  font-size: 12px;
}
.profit .width-wrap .profit-scheme .profit-point__el .profit-point__el-popup:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: #fff;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  left: 50%;
  margin-left: -5px;
  bottom: -6px;
}
.profit .width-wrap .profit-scheme .profit-point__el .profit-point__el-text {
  color: #999;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  position: absolute;
  width: 100px;
  pointer-events: none;
}
.profit .width-wrap .profit-scheme .profit-point__el .profit-point__el-text strong {
  font-weight: bold;
  display: block;
  color: #000;
  font-size: 18px;
}
.profit .width-wrap .profit-scheme .profit-point__el:hover .profit-point__el-popup {
  opacity: 1;
}
.profit:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: url("/static/img/decor--wave-top.png") repeat-x 0 0;
  z-index: 5;
  content: '';
}
.profit:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 2px;
  background: url("/static/img/decor--wave-bottom.png") repeat-x 0 0;
  z-index: 5;
  content: '';
}
.status {
  background: #fff;
  position: relative;
}
.status .width-wrap {
  padding-top: 67px;
  padding-bottom: 105px;
  text-align: center;
}
.status .width-wrap h3 {
  text-transform: uppercase;
  font-size: 36px;
  padding-bottom: 38px;
}
.status .width-wrap p {
  line-height: 14px;
  letter-spacing: 1px;
}
.status .width-wrap .status-list {
  display: block;
  margin-left: -40px;
  width: 1240px;
  margin-top: 50px;
  position: relative;
  height: 240px;
}
.status .width-wrap .status-list__el {
  position: relative;
  height: 240px;
}
.status .width-wrap .status-list__el .label {
  position: absolute;
  z-index: 1;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  right: -20px;
}
.status .width-wrap .status-list__el .label span {
  font-size: 14px;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
.status .width-wrap .status-list__el .label span strong {
  display: block;
  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
}
.status .width-wrap .status-list__el .label:hover {
  background: #ed1c24; /* Old browsers */
  background: linear-gradient(to bottom, #ed1c24 0%, #ca181f 100%);
}
.status .width-wrap .status-list__el img {
  position: absolute;
  z-index: 5;
  margin-top: 34px;
  left: 0;
}
.status .width-wrap .status-bar {
  position: relative;
  border-radius: 3px;
  background: #d2d6d8;
  height: 33px;
}
.status .width-wrap .status-bar .statue-bar-color {
  position: absolute;
  left: 0;
  top: 0;
  height: 33px;
  border-radius: 3px;
  background: #85ac2c;
  width: 300px;
}
.status .width-wrap .status-bar .status-bar-point {
  position: relative;
}
.status .width-wrap .status-bar .status-bar-point .status-bar-point__el {
  position: absolute;
  width: 0;
  border-left: 1px solid #aaa;
  height: 44px;
  bottom: -33px;
}
.status .width-wrap .status-bar .status-bar-point .status-bar-point__el:nth-child(1) {
  left: 0;
}
.status .width-wrap .status-bar .status-bar-point .status-bar-point__el:nth-child(2) {
  left: 25%;
}
.status .width-wrap .status-bar .status-bar-point .status-bar-point__el:nth-child(3) {
  left: 50%;
}
.status .width-wrap .status-bar .status-bar-point .status-bar-point__el:nth-child(4) {
  left: 75%;
}
.status .width-wrap .status-bar .status-bar-point .status-bar-point__el:nth-child(5) {
  left: 100%;
}
.status .width-wrap .status-bar .status-bar-point__el:after {
  position: absolute;
  content: '';
  bottom: -9px;
  left: -4.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 5px 4.5px;
  border-color: transparent transparent #aaa transparent;
}
.status .width-wrap .status-bar .status-bar-text {
  position: relative;
  display: block;
}
.status .width-wrap .status-bar .status-bar-text li {
  font-size: 14px;
  position: absolute;
  top: 62px;
}
.status .width-wrap .status-bar .status-bar-text li:nth-child(1) {
  left: -20px;
}
.status .width-wrap .status-bar .status-bar-text li:nth-child(2) {
  left: 270px;
}
.status .width-wrap .status-bar .status-bar-text li:nth-child(3) {
  left: 570px;
}
.status .width-wrap .status-bar .status-bar-text li:nth-child(4) {
  left: 870px;
}
.status:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background: url("/static/img/decor--wave-bottom.png") repeat-x 0 0;
  z-index: 5;
  content: '';
}
.question {
  background: url("/static/img/bg__faq.png") no-repeat 50% 0;
  background-size: 150% auto;
  position: relative;
}
.question .width-wrap {
  padding-top: 67px;
  padding-bottom: 105px;
  text-align: center;
}
.question .width-wrap h3 {
  text-transform: uppercase;
  font-size: 36px;
  padding-bottom: 38px;
  color: #fff;
}
.question .width-wrap .question-list {
  margin-top: 50px;
  width: 570px;
  margin-bottom: 50px;
  display: inline-block;
  vertical-align: top;
}
.question .width-wrap .question-list .question-list__el {
  width: 580px;
  text-align: left;
  margin-bottom: 15px;
}
.question .width-wrap .question-list .question-list__el h2 {
  color: #fff;
  font-weight: lighter;
  font-size: 18px;
  padding-bottom: 8px;
  line-height: 25px;
  min-height: 10px;
  margin-bottom: 0;
}
.question .width-wrap .question-list .question-list__el h2:before {
  background: #ffc506;
}
.question .width-wrap .question-list .question-list__el h2:after {
  background: url("/static/img/icon--arrow-right-s.png");
}
.question .width-wrap .question-list .question-list__el .slide-content {
  font-size: 14px;
  color: #fff;
  padding-left: 55px;
  line-height: 21px;
  margin-bottom: 15px;
}
.question .width-wrap .question-list .question-list__el .slide-content p {
  font-size: 14px;
  color: #fff;
}
.question .width-wrap .question-list .question-list__el.active h2:after {
  background: url("/static/img/icon--arrow-bottom-s.png");
}
.question .width-wrap p.label {
  width: 554px;
  height: 115px;
  text-align: center;
  line-height: 24px;
  padding-top: 22px;
  box-shadow: none;
  cursor: default;
  margin-bottom: 75px;
  font-size: 18px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  background: url("/static/img/bg__label.png") no-repeat 0 0;
  background-size: 100% 100%;
}
.question .width-wrap p.label:hover {
  background: url("/static/img/bg__label.png") no-repeat 0 0;
  background-size: 100% 100%;
}
.question .width-wrap p {
  color: #fff;
  font-size: 18px;
}
.question .width-wrap .index-form {
  margin: 55px auto 0;
  padding-top: 67px;
  padding-bottom: 40px;
  width: 810px;
  background: #fff;
  display: block;
  text-align: left;
}
.question .width-wrap .index-form h3 {
  color: #000;
  padding-bottom: 45px;
  text-align: center;
}
.question .width-wrap .index-form label {
  padding: 0 120px 18px;
  text-align: center;
  white-space: nowrap;
  display: block;
}
.question .width-wrap .index-form label span {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  font-size: 18px;
  text-align: left;
  font-weight: lighter;
  padding-top: 15px;
}
.question .width-wrap .index-form label .inp {
  width: 428px;
  background: #f6f8f8;
  color: #000;
  font-size: 18px;
  font-weight: lighter;
}
.question .width-wrap .index-form .btn {
  height: 41px;
  line-height: 41px;
  padding: 0 43px;
  font-size: 14px;
  margin-left: 270px;
  margin-top: 33px;
}
.form-ok {
  padding-top: 30px;
}
.form-ok p {
  font-size: 20px;
}
