.promo
  height 650px
  position relative
  margin-top 168px

  .index-slider
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    z-index 0

    .owl-item
      height 650px

      .index-slider__el
        height 650px
        background-size cover

  .width-wrap
    position relative
    z-index 5
    text-align center

    span
      color #fff
      display block
      text-align center
      font-weight lighter
      font-size 24px

    span.promo-club
      display inline-block
      border-bottom 1px solid #fff
      padding-top 144px
      padding-bottom 7px
      margin-bottom 70px

    span.promo-title
      font-size 72px
      line-height 86px
      padding-bottom 24px

    a
      position absolute
      width 66px
      height 66px
      border-radius 66px
      background #FFFFFF url("/static/img/icon--arrow-bottom.png") no-repeat 50% 50%
      bottom -130px
      left 50%
      margin-left -33px

.promo:after
  position absolute
  left 0
  right 0
  bottom 0
  height 2px
  background url("/static/img/decor--wave-top.png") repeat-x 0 0
  z-index 5
  content ''

.part
  background #fff

  .width-wrap
    padding-top 65px
    padding-bottom 50px
    text-align center

    h3
      text-transform uppercase
      font-size 36px
      padding-bottom 38px

    p
      font-size 18px
      line-height 34px
      font-weight lighter

      strong
        display block
        font-weight lighter
        font-size 30px

    .part-list
      white-space nowrap
      text-align center
      margin-top 42px

      &__el
        width 349px
        height 212px
        white-space normal
        color #fff

        p
          color #FFFFFF
          padding-top 95px
          font-size 16px
          line-height 24px

        strong
          font-weight lighter !important
          font-size 30px
          line-height 34px
          display block
          text-shadow -1px -1px 0 rgba(0,0,0,0.3)

      .part-list__el:nth-child(1)
        background url("/static/img/bg__use-1.png") no-repeat 0 0
      .part-list__el:nth-child(2)
        background url("/static/img/bg__use-2.png") no-repeat 0 0
        margin 0 75px
      .part-list__el:nth-child(3)
        background url("/static/img/bg__use-3.png") no-repeat 0 0

.part:after
  position absolute
  left 0
  right 0
  bottom -2px
  height 2px
  background url("/static/img/decor--wave-bottom.png") repeat-x 0 0
  z-index 5
  content ''

.profit
  background #f8f9fb
  position relative

  .width-wrap
    padding-top 67px
    padding-bottom 90px
    text-align center

    h3
      text-transform uppercase
      font-size 36px
      padding-bottom 38px

    p
      font-size 18px

      a
        text-decoration underline
        display inline-block
        vertical-align top

      a.active
        background #fff0f0
        text-decoration none
        cursor default

    .profit-scheme
      position relative
      width 1200px
      height 370px
      margin-top 70px

      .slide-1.profit-point
        background url("/static/img/img--graf.png") no-repeat 0 0

        .profit-point__el:nth-child(1)
          top 153px
          left 339px

          .profit-point__el-text
            margin-top -50px
            margin-left -40px

        .profit-point__el:nth-child(2)
          top 204px
          left 639px

          .profit-point__el-text
            margin-top 30px
            margin-left -40px

        .profit-point__el:nth-child(3)
          top 109px
          left 938px

          .profit-point__el-text
            margin-top -45px
            margin-left -40px

      .slide-2.profit-point
        background url("/static/img/img--graf-1.png") no-repeat 0 0

        .profit-point__el:nth-child(1)
          top 153px
          right 339px

          .profit-point__el-text
            margin-top -50px
            margin-left -40px

        .profit-point__el:nth-child(2)
          top 204px
          right 639px

          .profit-point__el-text
            margin-top 30px
            margin-left -40px

        .profit-point__el:nth-child(3)
          top 109px
          right 938px

          .profit-point__el-text
            margin-top -45px
            margin-left -40px

      .profit-point
        position relative
        width 1200px
        height 370px
        display none

      .profit-point.active
        display block

      .profit-scheme-text
        position absolute
        top 68px
        left 75px
        padding 20px
        border-radius 10px
        background #ffe9c7
        text-align center
        font-size 14px
        line-height 18px
        z-index 5

      .profit-point__el
        position absolute
        width 12px
        height 12px
        background #cc0000
        border 3px solid #FFFFFF
        box-shadow  0 0 1px #cc0000
        border-radius 12px
        display inline-block
        vertical-align top

        .profit-point__el-popup
          position absolute
          bottom 40px
          background #ffffff
          width 140px
          padding 15px
          border 1px solid #cccccc
          box-shadow 0 0 5px rgba(0,0,0,0.2)
          left -80px
          z-index 5
          opacity 0
          transition opacity 0.3s
          -webkit-transition opacity 0.3s

          .label
            font-size 14px
            margin-bottom 10px

          img
            display block
            margin 0 auto 10px

          .profit-point__el-name
            font-size 12px

        .profit-point__el-popup:after
          position absolute
          content ''
          width 10px
          height 10px
          background #fff
          border-top 1px solid #cccccc
          border-left 1px solid #cccccc
          transform rotate(-135deg)
          -webkit-transform rotate(-135deg)
          left 50%
          margin-left -5px
          bottom -6px


        .profit-point__el-text
          color #999999
          font-size 14px
          line-height 18px
          text-align center
          position absolute
          width 100px
          pointer-events none

          strong
            font-weight bold
            display block
            color #000
            font-size 18px

      .profit-point__el:hover
        .profit-point__el-popup
          opacity 1


.profit:after
  position absolute
  left 0
  right 0
  bottom 0
  height 2px
  background url("/static/img/decor--wave-top.png") repeat-x 0 0
  z-index 5
  content ''

.profit:before
  position absolute
  left 0
  right 0
  top 0
  height 2px
  background url("/static/img/decor--wave-bottom.png") repeat-x 0 0
  z-index 5
  content ''

.status
  background #ffffff
  position relative

  .width-wrap
    padding-top 67px
    padding-bottom 105px
    text-align center

    h3
      text-transform uppercase
      font-size 36px
      padding-bottom 38px

    p
      line-height 14px
      letter-spacing 1px

    .status-list
      display block
      margin-left -40px
      width 1240px
      margin-top 50px
      position relative
      height 240px

      &__el
        position relative
        height 240px

        .label
          position absolute
          z-index 1
          width auto
          padding-left 20px
          padding-right 20px
          right -20px

          span
            font-size 14px
            color #fff
            text-shadow 1px 1px 0 rgba(0,0,0,0.3)

            strong
              display block
              font-size 24px
              font-weight lighter
              line-height 30px

        .label:hover
          background rgb(237,28,36); /* Old browsers */
          background -moz-linear-gradient(top,  rgba(237,28,36,1) 0%, rgba(202,24,31,1) 100%)
          background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,28,36,1)), color-stop(100%,rgba(202,24,31,1)))
          background -webkit-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
          background -o-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
          background -ms-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
          background linear-gradient(to bottom,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)

        img
          position absolute
          z-index 5
          margin-top 34px
          left 0

    .status-bar
      position relative
      border-radius 3px
      background #d2d6d8
      height 33px

      .statue-bar-color
        position absolute
        left 0
        top 0
        height 33px
        border-radius 3px
        background #85ac2c
        width 300px

      .status-bar-point
        position relative

        .status-bar-point__el
          position absolute
          width 0
          border-left 1px solid #aaaaaa
          height 44px
          bottom -33px

        .status-bar-point__el:nth-child(1)
          left 0
        .status-bar-point__el:nth-child(2)
          left 25%
        .status-bar-point__el:nth-child(3)
          left 50%
        .status-bar-point__el:nth-child(4)
          left 75%
        .status-bar-point__el:nth-child(5)
          left 100%

      .status-bar-point__el:after
        position absolute
        content ''
        bottom - 9px
        left -4.5px
        width 0
        height 0
        border-style solid
        border-width 0 4.5px 5px 4.5px
        border-color transparent transparent #aaaaaa transparent

      .status-bar-text
        position relative
        display block

        li
          font-size 14px
          position absolute
          top 62px

        li:nth-child(1)
          left -20px
        li:nth-child(2)
          left 270px
        li:nth-child(3)
          left 570px
        li:nth-child(4)
          left 870px

.status:after
  position absolute
  left 0
  right 0
  bottom -2px
  height 2px
  background url("/static/img/decor--wave-bottom.png") repeat-x 0 0
  z-index 5
  content ''

.question
  background url("/static/img/bg__faq.png") no-repeat 50% 0
  background-size 150% auto
  position relative

  .width-wrap
    padding-top 67px
    padding-bottom 105px
    text-align center

    h3
      text-transform uppercase
      font-size 36px
      padding-bottom 38px
      color #fff

    .question-list
      margin-top 50px
      width 570px
      margin-bottom 50px
      display inline-block
      vertical-align top

      .question-list__el
        width 580px
        text-align left
        margin-bottom 15px

        h2
          color #FFFFFF
          font-weight lighter
          font-size 18px
          padding-bottom 8px
          line-height 25px
          min-height 10px
          margin-bottom 0

        h2:before
          background #ffc506

        h2:after
          background url("/static/img/icon--arrow-right-s.png")

        .slide-content
          font-size 14px
          color #fff
          padding-left 55px
          line-height 21px
          margin-bottom  15px

          p
            font-size 14px
            color #fff

      .question-list__el.active
        h2:after
          background url("/static/img/icon--arrow-bottom-s.png")

    p.label
      width 554px
      height 115px
      text-align center
      line-height 24px
      padding-top 22px
      box-shadow none
      cursor default
      margin-bottom 75px
      font-size 18px
      text-shadow 1px 1px 0 rgba(0,0,0,0.3)
      background url("/static/img/bg__label.png") no-repeat 0 0
      background-size 100% 100%

    p.label:hover
      background url("/static/img/bg__label.png") no-repeat 0 0
      background-size 100% 100%

    p
      color #fff
      font-size 18px

    .index-form
      margin 55px auto 0
      padding-top 67px
      padding-bottom 40px
      width 810px
      background #fff
      display block
      text-align left

      h3
        color #000
        padding-bottom 45px
        text-align center

      label
        padding 0 120px 18px
        text-align center
        white-space nowrap
        display block

        span
          display inline-block
          vertical-align top
          width 150px
          font-size 18px
          text-align left
          font-weight lighter
          padding-top 15px

        .inp
          width 428px
          background #f6f8f8
          color #000000
          font-size 18px
          font-weight lighter

      .btn
        height 41px
        line-height 41px
        padding 0 43px
        font-size 14px
        margin-left 270px
        margin-top 33px


.form-ok
  padding-top 30px

  p
    font-size 20px