.inp
    box-sizing border-box
    box-shadow none
    outline none
    height 55px
    line-height 55px
    display inline-block
    padding-left 22px
    background #fff
    border 1px solid #fff
    border-top 1px solid #999999
    border-left 1px solid #999999
    border-radius 0
    -webkit-appearance none
    color #cccccc
    font-size 24px
    font-family $f_helvetica
       
    &::placeholder
      opacity 1
      color #cccccc
      font-size 24px
      font-family $f_helvetica

.inp:focus::placeholder
  opacity 0

.inp.error
    border-top 1px solid #ec1f27
    border-left 1px solid #ec1f27

textarea 
    box-sizing border-box
    background transparent 
    border 2px solid #dcdcdc
    border-width 0 0 2px 0 
    box-shadow none
    border-radius 0px
    outline none 
    width 100%
    height 110px  
    display block 
    padding 4px 0 
    font-size 17px
    color $cBlack
    -webkit-appearance none
    resize none
           
    &::placeholder
        opacity 1
        color #e8e6e6  
        
