/*@font-face {
    font-family: 'als_rublregular';
    src: url('../fnt/rouble-webfont.eot');
    src: url('../fnt/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fnt/rouble-webfont.woff2') format('woff2'),
         url('../fnt/rouble-webfont.woff') format('woff'),
         url('../fnt/rouble-webfont.ttf') format('truetype'),
         url('../fnt/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fnt/HelveticaNeueCyr-Light.eot');
    src: url('../fnt/HelveticaNeueCyr-Light.woff') format('woff'),
         url('../fnt/HelveticaNeueCyr-Light.ttf') format('truetype'),
         url('../fnt/HelveticaNeueCyr-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

// font vars
f_arial = 'Arial', sans-serife;
$f_helvetica = 'HelveticaNeueCyr', sans-serife;