// Retina images mixin

img2x( imgpath, w, h )

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx)

        background-image url(imgpath)
        background-size w h

.one-fourth
  width 270px !important

.two-fourth
  width 590px !important

.three-fourth
  width 890px !important

.margin-left
  margin-left 40px !important

// media queries
// breakpoints [320<-640] [640<-768->900] [900<-1024->1300] [1300<-1440->1600] [1600<-1920]

xs = '(max-width: 767px)'
sm = '(min-width: 768px) and (max-width: 979px)'
md = '(min-width: 1301px) and (max-width: 1600px)'
lg = '(min-width: 1601px)'


