block vars
    - var title='Title'

extends ../../partials/layout_index
block content

    section(id="promo").promo
        .index-slider
            div(style = "background-image: url('/static/img/img--slider-1.jpg')").index-slider__el
            div(style = "background-image: url('/static/img/img--slider-2.jpg')").index-slider__el
            div(style = "background-image: url('/static/img/img--slider-3.jpg')").index-slider__el
            div(style = "background-image: url('/static/img/img--slider-4.jpg')").index-slider__el

        .width-wrap
            span.promo-club Клуб профессиональных парикмахеров Schwarzkopf Professional
            span.promo-title БОНУСНАЯ ПРОГРАММА
                br
                | ДЛЯ САЛОНОВ КРАСОТЫ
            span.promo-gift подарки для вас и ваших клиентов,
                br
                | бесплатные новинки, скидки на обучение и семинары

            a(href="#part").slide-page.js--page-slide

    section(id="part").part
        .width-wrap
            h3 как участвовать

            p Участником клуба профессиональных парикмахеров PH Club может стать
                strong любой салон или сеть салонов красоты
                | c объёмом закупок продукции Schwarzkopf Professional на сумму не меньше
                i.price-rouble
                    = " 100 000"
                = " в квартал на один салон."

            ul.part-list
                li.part-list__el
                    p
                        strong Заключите соглашение
                        | с&nbsp;официальным дистрибьютором
                        br
                        | для закупки продукции Schwarzkopf
                        br
                        | Professional

                li.part-list__el
                    p
                        strong Станьте
                            br
                            | участником клуба
                        | заполнив заявление на сайте

                li.part-list__el
                    p
                        strong Получайте бонусы
                        | и меняйте их на подарки из каталога

    section(id="profit").profit
        .width-wrap
            h3 ВЫГОДА — С КАЖДОГО ЗАКАЗА

            p
                = " Какую стратегию выберете вы: будете "
                a(data-id='0').active.js--change-graf
                    = " копить бонусные баллы "
                = " для получения более ценных подарков, "
                br
                = " или предпочтете "
                a(data-id='1').js--change-graf
                    = "тратить их по итогам каждого квартала?"

            .profit-scheme
                ul.profit-point.slide-1.active
                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong +19 700
                            | баллов

                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong +15 400
                            | баллов

                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong + 22 330
                            | баллов

                ul.profit-point.slide-2
                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong +19 700
                            | баллов

                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong +15 400
                            | баллов

                    li.profit-point__el
                        .profit-point__el-popup
                            span.label.label-bg-white 14 580 баллов
                            img(src="/static/img/img--cart-1.jpg" alt)
                            span.profit-point__el-name Кресло парикмахерское Жаклин
                        .profit-point__el-text
                            strong + 22 330
                            | баллов

                .profit-scheme-text Объем закупок
                    br
                    | продукции
                    br
                    | Shwarzkopf 
                    br
                    | Professional

    section(id="status").status
        .width-wrap
            h3 ДОСТИГНИТЕ НАСТОЯЩИХ ВЫСОТ
            p Каждому салону клуба профессиональных парикмахеров  PH Club присваивается один из четырех бонусных уровней.
                BR
                |Повышайте объемы закупок продукции Schwarzkopf Professional и получайте еще больше баллов и еще больше подарков.

            ul.status-list
                li.status-list__el.one-fourth.margin-left
                   .label.label-bg-white
                       span.price-rouble
                            strong 30 баллов
                            | за каждую 1000
                    img(src="/static/img/icon--status-slv.png" alt)
                li.status-list__el.one-fourth.margin-left
                    .label.label-bg-white
                       span.price-rouble
                            strong 50 баллов
                            | за каждую 1000
                    img(src="/static/img/icon--status-gld.png" alt)
                li.status-list__el.one-fourth.margin-left
                    .label.label-bg-white
                       span.price-rouble
                            strong 70 баллов
                            | за каждую 1000
                    img(src="/static/img/icon--status-plt.png" alt)
                li.status-list__el.one-fourth.margin-left
                    .label.label-bg-white
                       span.price-rouble
                            strong 100 баллов
                            | за каждую 1000
                    img(src="/static/img/icon--status-dmd.png" alt)

            .status-bar
                .statue-bar-color
                ul.status-bar-point
                    li.status-bar-point__el
                    li.status-bar-point__el
                    li.status-bar-point__el
                    li.status-bar-point__el
                ul.status-bar-text
                    li 100 000
                    li 120 000
                    li 160 000
                    li 210 000

    section(id="question").question
        .width-wrap
            h3 развейте сомнения
            ul.question-list
                li.question-list__el.active.slide.margin-left
                    h2 Какие обязательные условия участия в бонусной программе?
                    .slide-content После получения заявления, с Вами свяжется официальный представитель Schwarzkopf Professional в Вашем городе, который ответит на все Ваши вопросы. Если Вы уже являетесь клиентом Schwarzkopf Professional, Вы также можете уточнить подробности участия в прграмме у Вашего Эксклюзивного Торгового Представителя.

                li.question-list__el.slide.margin-left
                    h2 Какие документы я должен оформить, чтобы вступить в клуб профессиональных парикмахеров PH Club?
                    .slide-content После получения заявления, с Вами свяжется официальный представ

                li.question-list__el.slide.margin-left
                    h2 Что делать, если я уже являюсь клиентом Schwarzkopf Professional?
                    .slide-content После получения заявления, с Вами свяжется официальный представ

                li.question-list__el.slide.margin-left
                    h2 Как определяется бонусный уровень моего салона?
                    .slide-content После получения заявления, с Вами свяжется официальный представ

            ul.question-list.margin-left
                li.question-list__el.slide.margin-left
                    h2 Что, если в один из кварталов я куплю продукции меньше, чем на 80 000 a?
                    .slide-content  После получения заявления, с Вами свяжется официальный представ
                li.question-list__el.slide.margin-left
                    h2 Сколько салонов одной сети может одновременно участвовать в программе?
                    .slide-content После получения заявления, с Вами свяжется официальный представ
                li.question-list__el.slide.margin-left
                    h2 Как часто я могу менять полученные бонусные баллы на подарки?
                    .slide-content После получения заявления, с Вами свяжется официальный представ
                li.question-list__el.slide.margin-left
                    h2 Должен ли я платить за доставку подарков?
                    .slide-content После получения заявления, с Вами свяжется официальный представ

            p.label Если у вас остались вопросы, задайте их нам
                br
                | по телефону бесплатной горячей линии 8 800 500 63 40 
                br
                | или воспользуйтесь онлайн-консультантом на сайте.

            p Если вы готовы подать заявку на вступление в клуб профессиональных парикмахеров PH Club,
                br
                | то сейчас луший момент! Заполните форму и с вами свяжется официальный представитель Schwarzkopf
                br
                | Professional в вашем городе

            form(action="" method="post" id="index-form").index-form.main-form
                h3 Заявка на вступление в клуб
                label
                    span ФИО
                    input(type="text" name="name").inp.required
                label
                    span Салон
                    input(type="text" name="salon").inp.required
                label
                    span Город
                    input(type="text" name="town").inp.required
                label
                    span Эл. почта
                    input(type="text" name="mail").inp.required.inp-mail
                label
                    span Телефон
                    input(type="text" name="phone").inp.inp-required.inp-phone
                input(type="submit" value="Отправить").btn.js-form-submit

    .hidden-block
        a(href="#form-ok").fancy.js--form-ok
        div(id="form-ok").form-ok Спасибо за ваше обращение.
            | Мы скоро свяжемся с Вами.

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/index.jpg", opacity: 0.5, top: -7, left: -177, center: false, clip: true, show: false }) })

