block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.account

            a.breadcrumbs.btn Корзина

            h1 Оформить заказ

            .account-current.accoutn-orders

                table.empty-caption
                    tr
                        th
                        th
                    tr
                        td Кресло парикмахерское CHIOCIOLA UP, 1 штМашинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт
                        td.right
                            strong 59 900
                            = " баллов"
                    tr
                        td Кресло парикмахерское МОНА, 2 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт
                        td.right
                            strong 11 000
                            = " баллов"
                    tr
                        td Мини-выпрямитель для волос HAIRWAY Ceramic Ruby Iron, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт
                        td.right
                            strong 2 100
                            = " баллов"
                    tr
                        td Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт Машинка для стрижки волос Hairway Ultra Pro, 1 шт
                        td.right
                            strong 2 370
                            = " баллов"

                .cart-total-block
                    p.cart-total
                        strong 58 800
                        = " баллов"

                form(action="" method="").order-form

                    label
                        h2 Адрес доставки
                        input(type="text" name="adress" required).inp

                    label
                        h2 Телефон для связи
                        input(type="text" name="phone" required).inp.input-phone

                    h2
                        strong Важно знать

                    p На&nbsp;доставку подарков может потребоваться от&nbsp;4&nbsp;до&nbsp;10&nbsp;недель с&nbsp;момента получения заявки.

                    p В&nbsp;случае невозможности предоставить тот или иной выбранный вами подарок, Schwarzkopf Professional с&nbsp;вашего согласия заменит подарок на&nbsp;равноценный или вернет баллы на&nbsp;ваш счет.

                    .submit
                        input(type="submit" value="Все верно, отправить заявку").btn

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/cart_order.jpg", opacity: 0.5, top: -43, left: -177, center: false, clip: true, show: false }) })

