block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.cart

            h1 Корзина

            form(action="" method="post").cart-full
                ul(data-url-chahge="/static/js/ajax/add-cart-item.php" data-url-remove="/static/js/ajax/remove-cart-item.php" data-method="post").cart-list
                    li.cart-list__el.grid.no-item
                        .cart-list__el-img.grid-item
                            img(src = "/static/img/img--cart-1.jpg" alt)
                        .cart-list__el-content.grid-item
                            a(href = "") Кресло парикмахерское CHIOCIOLA UP
                            span цвет: белый
                        .cart-list__el-amount.grid-item
                            input(type="hidden" name="item_id" value="id_001").cart-item-id
                            input(type="text" name="item_amount" value="1" maxlength="3").cart-item-amount-input.js--input-number
                            span.add-amount.js--add-amount-cart.js--item-change-cart
                            span.remove-amount.js--remove-amount-cart.js--item-change-cart
                        .cart-list__el-empty.grid-item
                            span Временно нет на складе
                            a(href="").js--cart-remove удалить
                        .cart-list__el-total.grid-item
                            p
                                strong 57 970
                                | баллов
                        .cart-list__el-remove.grid-item
                            a(href = "").js--cart-remove

                    li.cart-list__el.grid
                        .cart-list__el-img.grid-item
                            img(src = "/static/img/img--cart-2.jpg" alt)
                        .cart-list__el-content.grid-item
                            a(href = "") Кресло парикмахерское CHIOCIOLA UP
                            span цвет: белый
                        .cart-list__el-amount.grid-item
                            input(type="hidden" name="item_id" value="id_002").cart-item-id
                            input(type="text" name="item_amount" value="2" maxlength="3").cart-item-amount-input.js--input-number
                            span.add-amount.js--add-amount-cart.js--item-change-cart
                            span.remove-amount.js--remove-amount-cart.js--item-change-cart
                        .cart-list__el-empty.grid-item
                            span Временно нет на складе
                            a(href="").js--cart-remove удалить
                        .cart-list__el-total.grid-item
                            p
                                strong 57 970
                                | баллов
                        .cart-list__el-remove.grid-item
                            a(href = "").js--cart-remove

                    li.cart-list__el.grid
                        .cart-list__el-img.grid-item
                            img(src = "/static/img/img--cart-3.jpg" alt)
                        .cart-list__el-content.grid-item
                            a(href = "") Кресло парикмахерское CHIOCIOLA UP
                            span цвет: белый
                        .cart-list__el-amount.grid-item
                            input(type="hidden" name="item_id" value="id_003").cart-item-id
                            input(type="text" name="item_amount" value="3" maxlength="3").cart-item-amount-input.js--input-number
                            span.add-amount.js--add-amount-cart.js--item-change-cart
                            span.remove-amount.js--remove-amount-cart.js--item-change-cart
                        .cart-list__el-empty.grid-item
                            span Временно нет на складе
                            a(href="").js--cart-remove удалить
                        .cart-list__el-total.grid-item
                            p
                                strong 57 970
                                | баллов
                        .cart-list__el-remove.grid-item
                            a(href = "").js--cart-remove

                    li.cart-list__el.grid
                        .cart-list__el-img.grid-item
                            img(src = "/static/img/img--cart-4.jpg" alt)
                        .cart-list__el-content.grid-item
                            a(href = "") Кресло парикмахерское CHIOCIOLA UP
                            span цвет: белый
                        .cart-list__el-amount.grid-item
                            input(type="hidden" name="item_id" value="id_004").cart-item-id
                            input(type="text" name="item_amount" value="4" maxlength="3").cart-item-amount-input.js--input-number
                            span.add-amount.js--add-amount-cart.js--item-change-cart
                            span.remove-amount.js--remove-amount-cart.js--item-change-cart
                        .cart-list__el-empty.grid-item
                            span Временно нет на складе
                            a(href="").js--cart-remove удалить
                        .cart-list__el-total.grid-item
                            p
                                strong 57 970
                                | баллов
                        .cart-list__el-remove.grid-item
                            a(href = "").js--cart-remove
                .cart-total-block
                    p.cart-total
                        strong 58 800
                        | баллов
                    input(type="submit" value="оформить заказ").btn
                    .cart-disable
                        p На вашем счету 20 000 баллов.
                        p
                            a Взять недостающие
                                i.not-enought 38 800
                                | баллов в кредит
                            | и оформить заказ сейчас.
                        p Сумма кредита спишется автоматически по итогам следующего квартала.
                            a Узнать больше.

            .cart-empty.hidden-block
                p Ваша корзина пуста. Перейдите в
                    a каталог
                    | чтобы совершить покупку.

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/cart.jpg", opacity: 0.5, top: -73, left: -177, center: false, clip: true, show: false }) })

