block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left.orders

            h1 Заказы

            .account-current

                table.styled-caption
                    tr
                        th.strong №164000, оформлен 30 августа 2015
                        th.italic.right доставка займет от 4 до 10 недель
                    tr
                        td Кресло парикмахерское CHIOCIOLA UP, 1 шт
                        td.right
                            strong 59 900
                            = " баллов"
                    tr
                        td Кресло парикмахерское МОНА, 2 шт
                        td.right
                            strong 11 000
                            = " баллов"
                    tr
                        td Мини-выпрямитель для волос HAIRWAY Ceramic Ruby Iron, 1 шт
                        td.right
                            strong 2 100
                            = " баллов"
                    tr
                        td Машинка для стрижки волос Hairway Ultra Pro, 1 шт
                        td.right
                            strong 2 370
                            = " баллов"

                .cart-total-block
                    p.cart-total
                        strong 58 800
                        = " баллов"

                .order-contacts
                    .order-contacts__el
                        h3 Адрес доставки
                        p Москва, ул.Большая Татарская д.7, корп.2
                    .order-contacts__el
                        h3 Телефон для связи
                        p 8 (933) 767-15-16

                p Чтобы отменить заказ, изменить его состав или ваши контактные данные, свяжитесь с нами по телефону горячей линии
                    strong 8 800 500 63 40

            .account-current
                table.styled-caption
                    tr
                        th.strong №164000, оформлен 30 августа 2015
                        th.italic.right.delivered
                            img(src="/static/img/icon--ok.png" alt)
                            | доставлен
                    tr
                        td Кресло парикмахерское CHIOCIOLA UP, 1 шт
                        td.right
                            strong 59 900
                            = " баллов"

                .cart-total-block
                    p.cart-total
                        strong 58 800
                        = " баллов"

    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/orders.jpg", opacity: 0.5, top: -90, left: -177, center: false, clip: true, show: false }) })

