<li class="catalog-list__el one-fourth margin-left">
              <form action="/static/js/ajax/add-item.php" method="post" class="item-form">
                <input type="hidden" name="item_id" value="item_01"><a href="#"><img src="/static/img/img--item-1.jpg" alt="">
                  <p class="catalog-list__el-name">Профессиональная машинка для стрижки BaByliss Pro<br>FX 660E</p><span class="catalog-list__el-price"><strong>7 500</strong>баллов</span></a>
                <div class="catalog-item-basket">
                  <div class="catalog-item-basket-add">
                    <div>
                      <input type="text" name="amount" value="1" maxlength="3" class="catalog-item-basket-amount"><span class="catalog-item-basket-add-amount js--add-amount js--item-shange"></span><span class="catalog-item-basket-remove-amount js--remove-amount js--item-shange"></span>
                    </div><a class="js--add-item">Положить в корзину</a>
                  </div>
                  <div class="catalog-item-basket-link"><a>В корзине</a><i>1</i>шт.</div>
                </div><span class="item-none">Нет<br>в наличии</span>
              </form>
            </li>

<li class="catalog-list__el one-fourth margin-left">
              <form action="/static/js/ajax/add-item.php" method="post" class="item-form">
                <input type="hidden" name="item_id" value="item_01"><a href="#"><img src="/static/img/img--item-1.jpg" alt="">
                  <p class="catalog-list__el-name">Кресло парикмахерское "Арина"<br>FX 660E</p><span class="catalog-list__el-price"><strong>9 800</strong>баллов</span></a>
                <div class="catalog-item-basket item-added">
                  <div class="catalog-item-basket-add">
                    <div>
                      <input type="text" name="amount" value="1" maxlength="3" class="catalog-item-basket-amount"><span class="catalog-item-basket-add-amount js--add-amount js--item-shange"></span><span class="catalog-item-basket-remove-amount js--remove-amount js--item-shange"></span>
                    </div><a class="js--add-item">Положить в корзину</a>
                  </div>
                  <div class="catalog-item-basket-link"><a>В корзине<i>1</i>шт.</a></div>
                </div><span class="item-none">Нет<br>в наличии</span>
              </form>
            </li>

<li class="catalog-list__el one-fourth margin-left disable last-el">
              <form action="/static/js/ajax/add-item.php" method="post" class="item-form">
                <input type="hidden" name="item_id" value="item_01"><a href="#"><img src="/static/img/img--item-1.jpg" alt="">
                  <p class="catalog-list__el-name">Кресло парикмахерское НИКОЛЬ<br>FX 660E</p><span class="catalog-list__el-price"><strong>14 010</strong>баллов</span></a>
                <div class="catalog-item-basket">
                  <div class="catalog-item-basket-add">
                    <div>
                      <input type="text" name="amount" value="1" maxlength="3" class="catalog-item-basket-amount"><span class="catalog-item-basket-add-amount js--add-amount js--item-shange"></span><span class="catalog-item-basket-remove-amount js--remove-amount js--item-shange"></span>
                    </div><a class="js--add-item">Положить в корзину</a>
                  </div>
                  <div class="catalog-item-basket-link"><a>В корзине</a><i>1</i>шт.</div>
                </div><span class="item-none">Нет<br>в наличии</span>
              </form>
            </li>