
block content

    form(action="" method="post").popup-form.main-form
        h3 Вход в личный кабинет
        label
            span Логин
            input(type="text" name="login").inp.required
        label
            span Пароль
            input(type="password" name="pass").inp.required
        label.check
            input(type='checkbox').inp-checkbox
            span Запомнить меня на этом компьютере
        input(type="submit" value="Войти").btn.js-form-submit

        a(href="").forget Забыли пароль?