.bg-aside
  white-space nowrap
.bg-aside:before
  position absolute
  content ''
  z-index 0
  left 50%
  top 0
  bottom 0
  width 270px
  background #2b2e33
  margin-left -600px

.aside
  background #2b2e33
  color #fff
  white-space normal
  position relative
  z-index 1

  a:hover
    text-decoration none

  &-lk
    display block
    background #000000
    padding-left 27px
    font-size 18px
    font-weight bold
    font-family $f_helvetica
    padding-top 21px
    padding-bottom 20px
    letter-spacing 1px
    color #fff

  &-status
    display block
    border-bottom 1px solid #666666
    padding-left 27px
    position relative
    padding-top 24px
    min-height 72px

    span
      display inline-block
      vertical-align top
      line-height 18px
      width 50%
      color #fff
      font-family $f_helvetica
      font-size 16px

    img
      position absolute
      width 90px
      height 89px
      top 12px
      right 23px
      z-index 10

  &-links
    padding-top 13px
    padding-bottom 7px
    padding-left 27px

    div
      display block
      margin-bottom 9px

      a
        color #FFFFFF
        text-decoration underline
        font-size 14px
        line-height 16px

  &-bill
    background #464b53
    padding-left 27px
    padding-top 17px
    padding-bottom 5px
    border-bottom 1px solid #666666

    &-title
      display block
      font-size 18px
      font-weight bold
      font-family $f_helvetica
      letter-spacing 1px
      color #fff

    div
      display block
      margin-bottom 10px
      margin-top 31px
      padding-bottom 10px

      span
        display block
        vertical-align baseline
        font-family $f_helvetica
        padding-bottom 3px
        color #fff

        strong
          font-size 36px
          padding-right 10px
          font-weight lighter

      span.aside-bill--point-value
        strong
          color #ffcc00

      a
        color #FFFFFF
        display inline-block
        vertical-align top
        text-decoration underline
        font-size 14px
        line-height 16px

  &-nav
    display block
    padding-bottom 30px

    &__el
      border-bottom 1px solid #666666
      position relative
      display block

      a
        color #fff
        font-size 16px
        line-height 18px
        text-decoration none
        display block
        padding-left 27px
        padding-top 17px
        padding-bottom 17px
        padding-right 60px

        span
          position absolute
          display block
          color #000000
          background #fff
          width 30px
          height 30px
          border-radius 30px
          text-align center
          line-height 30px
          top 12px
          right 25px

    &__el.current:after
      position absolute
      content ''
      width 0
      height 0
      border-style solid
      border-width 6.5px 7px 6.5px 0
      border-color transparent #ffffff transparent transparent
      top 50%
      margin-top -4px
      right 0

    &__el:hover
      background rgb(237,28,36); /* Old browsers */
      background -moz-linear-gradient(top,  rgba(237,28,36,1) 0%, rgba(202,24,31,1) 100%)
      background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,28,36,1)), color-stop(100%,rgba(202,24,31,1)))
      background -webkit-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
      background -o-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
      background -ms-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
      background linear-gradient(to bottom,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
