.footer
  background #FFFFFF
  position absolute
  z-index 10
  left 0
  right 0
  height 380px

  &-banner
    display block
    text-align left
    padding-top 46px
    padding-bottom 42px
    border-bottom 1px solid #999999

    &-title
      display block
      text-align center
      font-size 24px
      color #666666
      font-family $f_helvetica
      font-weight lighter
      padding-bottom 45px

      i
        font-style italic

    a
      display inline-block
      vertical-align top

      img
        display block

    a:nth-child(2)
      margin-left 256px
      margin-top -10px

    a:nth-child(3)
      margin-left 132px
      margin-top 1px

    a:nth-child(4)
      margin-left 82px
      margin-top 11px

  &-info
    padding-top 22px

    &-copyright
      display inline-block
      vertical-align top
      padding-top 13px
      font-size 14px

    &-made
      display inline-block
      vertical-align top
      float right
      margin-right 2px
      cursor pointer
      text-decoration none

      span
        display block
        font-size 9px

      img
        margin-top -10px

.footer:before
  position absolute
  content ''
  top -2px
  left 0
  right 0
  height 2px
  background url(/static/img/decor--wave-top.png) repeat-x 0 0
  z-index 100