.header.header-index
  position fixed
  top 0
  left 0
  right 0

.header
  background #fff
  display block
  padding-top 26px
  position relative
  z-index 10
  padding-bottom 15px
  white-space nowrap

  a
    text-decoration none

  .width-wrap
    height 45px
    padding-bottom 10px

  &-logo
    display inline-block
    vertical-align top

    img
      display inline-block
      vertical-align top

    &-hp
      width 132px
      height 44px

    &-sch
      width 86px
      height 45px
      margin-left 33px

  &-phone
    display inline-block
    vertical-align top
    font-size 16px
    line-height 20px
    font-family f_arial
    color #000
    margin-left: 155px
    margin-top: 17px

  &-adress
    display inline-block
    vertical-align top
    margin-left 44px
    padding-top 15px
    font-family f_arial

  &-download
    display inline-block
    vertical-align top
    padding 0 14px
    height 39px
    line-height 40px
    border-radius 6px
    cursor pointer
    background transparent
    padding-right 48px
    border 1px dashed #cf181f
    color #cf181f
    position relative
    margin-left 80px
    margin-top 7px
    font-size 14px

  &-download:after
    position absolute
    content ''
    width 16px
    height 16px
    background url("/static/img/icon--pdf.png") no-repeat 0 0
    top 11px
    right 16px

  &-download:hover
    background rgb(237,28,36); /* Old browsers */
    background -moz-linear-gradient(top,  rgba(237,28,36,1) 0%, rgba(202,24,31,1) 100%)
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,28,36,1)), color-stop(100%,rgba(202,24,31,1)))
    background -webkit-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
    background -o-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
    background -ms-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
    background linear-gradient(to bottom,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
    color #fff

    a
      display inline-block
      vertical-align top
      background rgb(83,83,83)
      background -moz-linear-gradient(top,  rgba(83,83,83,1) 0%, rgba(43,43,43,1) 100%)
      background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,83,83,1)), color-stop(100%,rgba(43,43,43,1)))
      background -webkit-linear-gradient(top,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)
      background -o-linear-gradient(top,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)
      background -ms-linear-gradient(top,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)
      background linear-gradient(to bottom,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)
      border-radius 6px
      text-align center
      width 113px
      height 41px
      color #fff
      line-height 41px
      margin-right 2px



nav
  display block
  background #FFFFFF
  margin-top 11px
  position relative

  .width-wrap
    border-top 1px solid #e1e5e9
    padding-top 15px
    padding-bottom 0!important

    .main-nav
      display inline-block
      vertical-align top

      &__el
        display inline-block
        vertical-align top

        a
          padding 0 14px
          height 39px
          line-height 40px
          border-radius 6px
          cursor pointer
          display block
          background transparent
          border 1px solid transparent
          color #000
          font-size 14px
          font-family f_arial

        a:hover
          background rgb(237,28,36); /* Old browsers */
          background -moz-linear-gradient(top,  rgba(237,28,36,1) 0%, rgba(202,24,31,1) 100%)
          background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,28,36,1)), color-stop(100%,rgba(202,24,31,1)))
          background -webkit-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
          background -o-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
          background -ms-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
          background linear-gradient(to bottom,  rgba(237,28,36,1) 0%,rgba(202,24,31,1) 100%)
          color #fff

      &__el:first-child
        margin-left -15px

      &__el.main-nav__el-pdf
        margin-left 5px

        a
          padding-right 48px
          border 1px dashed #cf181f
          color #cf181f
          position relative

        a:after
          position absolute
          content ''
          width 16px
          height 16px
          background url("/static/img/icon--pdf.png") no-repeat 0 0
          top 11px
          right 16px

        a:hover
          color #fff

    .header-login
      float right
      display inline-block
      vertical-align top
      background rgb(83,83,83)
      background -moz-linear-gradient(top,  rgba(83,83,83,1) 0%, rgba(43,43,43,1) 100%)
      background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,83,83,1)), color-stop(100%,rgba(43,43,43,1)))
      background -webkit-linear-gradient(top,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)
      background -o-linear-gradient(top,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)
      background -ms-linear-gradient(top,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)
      background linear-gradient(to bottom,  rgba(83,83,83,1) 0%,rgba(43,43,43,1) 100%)
      border-radius 6px
      text-align center
      width 113px
      height 41px
      color #fff
      line-height 41px
      margin-right 2px

header:after
  position absolute
  content ''
  bottom -2px
  left 0
  right 0
  height 2px
  background url(/static/img/decor--wave-bottom.png) repeat-x 0 0
  z-index 100