.cart-list
  display block
  margin-top 2px
  border-top 3px solid #cccccc

  &__el
    padding-top 14px
    padding-bottom 18px
    border-bottom 1px solid #cccccc

    &-img
      width 78px
      height 78px
      border 1px solid #cccccc
      background #FFFFFF
      margin-right 18px
      text-align center

      img
        display block
        max-height 100%
        max-width 100%

    &-content
      width 480px
      margin-right 18px
      padding-top 5px

      a
        display block
        padding-bottom 5px

      span
        font-size 14px
        color #666666

    &-amount
      width 66px
      height 43px
      border-top 1px solid #cccccc
      border-left 1px solid #cccccc
      background #fff
      position relative
      margin-top 9px
      margin-right 55px

      .cart-item-amount-input
        display inline-block
        vertical-align top
        border none
        outline none
        background transparent
        color #000
        font-size 14px
        font-family 'Arial', sans-serife
        margin-top 8px
        margin-left 5px
        padding-left 5px
        width 25px

      span
        display inline-block
        vertical-align top
        position absolute
        right 10px
        cursor pointer

      span.add-amount
        width 0
        height 0
        border-style solid
        border-width 0 5.5px 6px 5.5px
        border-color transparent transparent #939393 transparent
        top 12px

      span.remove-amount
        width 0
        height 0
        border-style solid
        border-width 6px 5.5px 0 5.5px
        border-color #939393 transparent transparent transparent
        top 28px

    &-empty
      display none

    &-total
      margin-top 13px
      margin-right 60px

      p
        font-size 14px

        strong
          display block
          font-size 18px
          color #ed1c24
          font-weight lighter

    &-remove
      a
        margin-top 30px
        width 14px
        height 14px
        background url("/static/img/icon--remove.png") no-repeat 0 0
        cursor pointer
        display block

  .cart-list__el.no-item
    .cart-list__el-amount
      display none
    .cart-list__el-remove
      display none
    .cart-list__el-total
      display none

    .cart-list__el-empty
      position relative
      display inline-block
      vertical-align top
      width 260px
      height 75px
      background #d3d5dd
      text-align center

      span
        display block
        padding-top 10px
        font-size 14px

      a
        display block
        text-align center
        color #cc0000
        font-size 14px

    .cart-list__el-empty:before,
    .cart-list__el-empty:after
      position absolute
      content ''
      width 9px
      height 9px
      border-radius 9px
      top 50%
      margin-top -4px
      z-index 1
      background  #f8f9fb

    .cart-list__el-empty:before
      left -4px

    .cart-list__el-empty:after
      right -4px

    .cart-list__el-content
      a
        color #7c7d7e
      span
        color #afb0b1

    .cart-list__el-img
      position relative

    .cart-list__el-img:after
      position absolute
      content ''
      top 0
      left 0
      bottom 0
      right 0
      background rgba(255,255,255,0.6)
      z-index 5

.cart-total-block
  display block
  text-align right
  margin-top 27px

  .btn
    display inline-block
    vertical-align top
    margin-left 30px
    margin-right 3px
    font-size 14px
    padding 0 29px
    height 41px
    line-height 41px

  p.cart-total
    font-size 14px
    text-align right
    display inline-block
    vertical-align top
    width 150px

    strong
      font-size 32px
      line-height 27px
      color #ed1c24
      display block
      font-weight lighter

  .cart-disable
    display none

.cart-total-block.disabled
  .cart-disable
    display block
    margin-left 302px
    padding 25px 30px
    background #FFFFFF
    position relative
    border 1px solid #ccc
    box-shadow 3px 3px 0 #dfe0e1
    width 343px
    margin-top 16px
    text-align left

    p
      margin-bottom 15px

      a
        color #ed1c24
        cursor pointer

        i
          font-style normal

  .cart-disable:before
    position absolute
    content ''
    width 15px
    height 15px
    background #ffffff
    border-top 1px solid #ccc
    border-left 1px solid #ccc
    transform rotate(45deg)
    -webkit-transform rotate(45deg)
    top -9px
    right 56px

.accoutn-orders
  table
    margin-top 0
    width 100%
    margin-bottom 17px

  .cart-total-block
    margin-top 0

    p.cart-total
      strong
        font-weight lighter


.order-form
  h2
    margin-bottom 17px

    strong
      font-weight lighter
      color #ed1c24

  label
    display block
    margin-bottom 33px

    .inp
      width 100%
      color #000000
      font-size 16px
      background #f6f8f8

  .submit
    text-align right
    margin-top 15px

    .btn
      height 41px
      line-height 41px
      font-size 14px
      padding 0 25px

.order-contacts
  margin-top 20px
  padding-bottom 30px

  &__el
    display inline-block
    vertical-align top
    width 380px
    padding-right 20px

    h3
      margin-bottom 10px