.account-current
  display block
  padding 30px
  background #FFFFFF
  border 1px solid #ccc
  box-shadow 3px 3px 0 #dfe0e1
  margin-top 16px
  margin-bottom 55px

  table
    margin-top 8px
    margin-bottom 30px
    width 100%

    h2
      line-height 32px

      strong
        color #ff3333
        font-size 24px
        font-weight lighter

  .account-current-list
    display block
    margin-top 5px

    &__el
      display block
      margin-bottom 22px

      &-title
        display block
        padding-bottom 10px

      h3.grid-item
        width 275px

        strong
          color #ff3333
          font-weight lighter

      p.grid-item
        width 530px

.download-xl
  display inline-block
  vertical-align top
  border 1px solid #000
  padding 7px 62px 8px 25px
  text-decoration none
  background url("/static/img/icon--xl.jpg") no-repeat 85% 49%
  margin-top 35px
  font-size 14px
  border-radius 7px
  margin-bottom 10px