.news-list
  display block
  margin-top 12px

  &__el
    display block
    margin-bottom 35px

.news-date
  display block
  margin-bottom 5px
  font-size 14px
  color #000000
  font-family f_arial

.news-link
  display block
  color #ff3333
  font-size 26px
  text-decoration underline
  font-family $f_helvetica
  font-weight lighter
  cursor pointer
  margin-bottom 13px
  padding-right 260px

.news-link:hover
  text-decoration none

.news-text
  line-height 24px
  font-size 16px
  color #000000
  font-family f_arial

  p
    line-height 24px
    font-size 16px

.news-post
  line-height 24px
  font-size 16px
  color #000000
  font-family f_arial

  h1
    padding-bottom 18px

  time
    margin-bottom 40px

  p
    line-height 24px
    font-size 16px
    display block
    margin-bottom 25px

  a
    line-height 24px
    font-size 16px
    text-decoration underline


  a:hover
    text-decoration none

