.page-content
  white-space normal
  padding-top 19px
  padding-bottom 45px

  p
    line-height 21px

  .breadcrumbs
    position relative
    margin-left: -2px;
    border-radius: 0;
    padding-left: 43px;
    font-size: 16px;
    padding-right: 30px;
    margin-bottom 12px
    height 57px
    text-decoration none

  .breadcrumbs:before
    position absolute
    content ''
    width 0
    height 0
    border-style solid
    border-width 28px 28px 0 0
    border-color #f8f9fb transparent transparent transparent
    top 0
    left -5px
    z-index 5
    transform scaleX(0.65)
    -webkit-transform scaleX(0.65)

  .breadcrumbs:after
    position absolute
    content ''
    width 0
    height 0
    border-style solid
    border-width 28px 0 0 28px
    border-color transparent transparent transparent #f8f9fb
    bottom 0
    left -5px
    z-index 5
    transform scaleX(0.65)
    -webkit-transform scaleX(0.65)

  h1
    padding-top 13px
    padding-bottom 28px

  .search--block
    display block
    margin-bottom 45px
    white-space nowrap

    .inp
      width  730px
      margin-right 9px

    .btn
      width 147px

  .catalog-section--list
    margin-left -40px
    width 930px

    &__el
      display inline-block
      vertical-align top
      width 425px
      margin-bottom 40px
      background #ffffff

      a
        display block
        height 291px
        position relative
        border 1px solid #cccccc
        box-shadow 4px 4px 0 #dfe0e1
        padding-left 35px
        cursor pointer
        text-decoration none

        h2
          display block
          margin-top 36px
          margin-bottom 21px
          min-height 54px

      &-text
        display block
        font-size 18px
        vertical-align baseline
        font-family $f_helvetica
        font-weight lighter
        margin-bottom 13px

        strong
          font-size 36px
          font-weight normal
          padding-right 10px

      .label
        margin-top 12px

      a:hover
        border 1px solid #ed1c24

      &-number
        position absolute
        z-index 1
        width 30px
        height 30px
        top -15px
        right -15px
        color #FFFFFF
        text-align center
        line-height 30px
        background #ed1c24
        border-radius 30px
        display block

    .catalog-section--list__el.three-fourth
      a
        h2
          min-height 10px !important

.catalog-item
  display block
  border 1px solid #cccccc
  white-space nowrap
  box-shadow 4px 4px 0 #dfe0e1
  background #fff
  padding 5px
  margin-top 15px
  margin-bottom 65px

  &-img
    width 341px
    background #FFFFFF
    text-align center
    padding-top 25px

    img
      display block
      max-width 100%
      max-height 100%
      margin 0 auto
      height 100%

  &-content
    white-space normal
    width 468px
    padding 24px 34px
    background #eff0f2
    min-height 290px

    &-old
      display block
      margin-top 6px
      margin-bottom 15px

      span
        font-size 21px
        color #333333
        font-family $f_helvetica
        text-decoration line-through
        font-weight lighter

    &-new
      display block
      margin-bottom 27px

      span
        font-size 24px
        font-family $f_helvetica
        font-weight lighter
        width auto
        padding 21px 26px 19px 26px

    label
      display block
      margin-bottom 19px

      span
        display inline-block
        vertical-align top
        font-size 20px
        padding-top 17px
        padding-right 16px
        font-family $f_helvetica
        font-weight lighter

      .jq-selectbox
        select
          display none

        .jq-selectbox__select
          box-sizing border-box
          box-shadow none
          outline none
          height 55px
          line-height 55px
          display inline-block
          padding-left 15px
          background #fff
          border 1px solid #fff
          border-top 1px solid #999999
          border-left 1px solid #999999
          border-radius 0
          -webkit-appearance none
          font-size 20px
          font-family $f_helvetica
          width 270px

          .jq-selectbox__select-text
            font-size 20px
            padding-top 13px
            font-weight lighter

          .jq-selectbox__trigger
            border-left none

            .jq-selectbox__trigger-arrow
              top 26px
              right 18px

      .jq-selectbox__dropdown
        li
          display block
          color #000
          font-size 20px
          font-family $f_helvetica

        li:hover
          background #a3abb1

    &-value
      display block
      padding-top 14px
      padding-bottom 13px
      font-size 14px
      line-height auto

.catalog-recommend
  margin-top 47px

  h3
    margin-bottom 32px

  .catalog-list
    margin-top 0

.catalog-list
  display block
  margin-left -40px
  margin-top 35px

  a
    text-decoration none

  .catalog-list__el
    border 1px solid #cccccc
    box-shadow 4px 4px 0 #dfe0e1
    background #fff
    text-align center
    margin-bottom 40px
    width 268px !important

    a
      display block
      padding 25px 20px 15px

    img
      display block
      margin 0 auto 20px
      max-width 100%
      max-height 150px

    &-name
      display block
      text-align left
      min-height 57px
      line-height 18px
      font-size 14px
      padding-bottom 5px

    &-price
      text-align center
      vertical-align baseline
      font-family $f_helvetica
      font-weight lighter
      display block

      strong
        font-size 32px
        color #ed1c24
        padding-right 10px
        font-weight lighter

    .catalog-item-basket
      margin 0 20px 25px

    .item-none
      display none
      font-size 36px
      color #ed1c24
      position absolute
      top 50%
      left 0
      right 0
      text-align center
      margin-top -30px
      z-index 11

  .catalog-list__el:hover
    border 1px solid #ed1c24

  .catalog-list__el.disable
    cursor default
    position relative

    .item-none
      display block !important

  .catalog-list__el.disable:hover
     border 1px solid #cccccc

  .catalog-list__el.disable:before
    position absolute
    content ''
    top 0
    left 0
    right 0
    bottom 0
    background rgba(255,255,255,0.8)
    z-index 10

.catalog-item-basket
  height 44px

  .catalog-item-basket-add
    display block
    width 230px
    height 44px
    background #464b53
    white-space nowrap

    div
      display inline-block
      vertical-align top
      height 44px
      position relative
      border-right 1px solid #939393
      width 61px
      text-align left

      input
        display inline-block
        vertical-align top
        border none
        outline none
        background transparent
        color #fff
        font-size 14px
        font-family f_arial
        margin-top 12px
        margin-left 5px
        padding-left 5px
        width 25px

      span
        display inline-block
        vertical-align top
        position absolute
        right 10px
        cursor pointer

      .catalog-item-basket-add-amount
        width 0
        height 0
        border-style solid
        border-width 0 5.5px 6px 5.5px
        border-color transparent transparent #939393 transparent
        top 12px
      .catalog-item-basket-remove-amount
        width 0
        height 0
        border-style solid
        border-width 6px 5.5px 0 5.5px
        border-color #939393 transparent transparent transparent
        top 28px

    a
      display inline-block
      vertical-align top
      padding-top 14px
      padding-left 15px
      color #fff
      cursor pointer
      font-size 14px
      line-height 18px
      text-decoration none

  &-link
    display none
    height 44px
    position relative
    background #ed1c24
    width 230px

    a
      display block
      color #FFFFFF
      text-align center
      font-family f_arial
      font-size 14px
      line-height 44px
      padding 0 !important
      cursor pointer

      i
        font-style normal
        padding 0 5px

.catalog-item-basket.item-added
  .catalog-item-basket-add
    display none
  .catalog-item-basket-link
    display block

.show-more
  display block
  margin 30px auto
  width 147px
  font-size 14px
  text-shadow none
  height 41px
  line-height 41px