block vars

aside.grid-item.one-fourth.aside

    span.aside-lk Личный кабинет

    .aside-status
        span Салон красоты "Афродита"
        img(src = '/static/img/icon--status-slv.png' alt)

    .aside-links
        div
            a(href = "#") Редактировать профиль
        div
            a(href = "#") Выйти

    .aside-bill
        span.aside-bill-title Мой счет

        .aside-bill--point
            span.aside-bill--point-value
                strong 5 206
                | баллов
            a(href = "") Взять баллы в кредит


        .aside-bill--rub
            span.aside-bill--rub-value
                strong 124 600
                | руб.
            a(href = "") Закупки в этом квартале

    ul.aside-nav
        li.aside-nav__el.current
            a(href = "") Каталог
        li.aside-nav__el.aside-nav__el-basket
            a(href = "") Корзина
                span 23
        li.aside-nav__el
            a(href = "") Заказы
        li.aside-nav__el
            a(href = "") Новости
                span 1
        li.aside-nav__el
            a(href = "") Условия программы
