block vars

footer.footer
    .width-wrap
        .footer-banner
            span.footer-banner-title Всегда вместе.
                i Страсть к профессии

            a(href = "")
                img(src = "/static/img/img--banner-1.png" alt)
            a(href = "")
                img(src = "/static/img/img--banner-2.png" alt)
            a(href = "")
                img(src = "/static/img/img--banner-3.png" alt)

        .footer-info
            a.footer-info-made
                span сделано в
                img(src = "/static/img/logo-promo.png" alt)
            span.footer-info-copyright © 2015 Schwarzkopf Professional

