block vars

header.header.header-index

    .width-wrap.justifyed

        .header-logo
            a(href = "")
                img(src = "/static/img/logo-ph.png" alt).header-logo-hp
            img(src = "/static/img/logo-sch.png" alt).header-logo-sch

        a(href = "tel:88005006340").header-phone +7 800 500 63 40
        span.header-adress Москва, Колокольников пер., 11
        a(href = "").header-download.main-nav__el-pdf Ознакомиться с каталогом продукции

    nav
        .width-wrap
            a(href = "/static/html/pages/pagePopup/pageLogin.html" class='fancybox.ajax').fancy.header-login Войти

            ul.main-nav.justifyed
                li.main-nav__el
                    a(href = "#promo").js--page-slide Бонусная программа
                li.main-nav__el
                    a(href = "#part").js--page-slide Как участвовать?
                li.main-nav__el
                    a(href = "#profit").js--page-slide Ваша выгода
                li.main-nav__el
                    a(href = "#status").js--page-slide Достигните высот
                li.main-nav__el
                    a(href = "#question").js--page-slide Вопросы и ответы
                li.main-nav__el
                    a(href = "#index-form").js--page-slide Заявка на вступление


