block vars

header.header

    .width-wrap.justifyed

        .header-logo
            a(href = "")
                img(src = "/static/img/logo-ph.png" alt).header-logo-hp
            img(src = "/static/img/logo-sch.png" alt).header-logo-sch

        a(href = "tel:88005006340").header-phone +7 800 500 63 40
        span.header-adress Москва, Колокольников пер., 11
        a(href = "").header-download.main-nav__el-pdf Ознакомиться с каталогом продукции

