doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(rel='icon' href='img/favicon.ico' type='image/x-icon')


        link(rel='stylesheet', href="/static/css/style.css")
        link(href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css')

        script(src="/static/js/app-common.js")
        script(src="/static/js/app.js")
        script(src="/static/js/jquery.pixlayout.0.9.6.js")

    body
        .page-wrap
            include header_index
            block content
            .psevdofooter
        include  footer