block vars

    nav
        .width-wrap

            ul.main-nav.justifyed
                li.main-nav__el
                    a(href = "") Бонусная программа
                li.main-nav__el
                    a(href = "") Как участвовать?
                li.main-nav__el
                    a(href = "") Ваша выгода
                li.main-nav__el
                    a(href = "") Достигните высот
                li.main-nav__el
                    a(href = "") Вопросы и ответы
                li.main-nav__el
                    a(href = "") Заявка на вступление
                li.main-nav__el.main-nav__el-pdf
                    a(href = "") Ознакомиться с каталогом продукции
