.popup-form
  padding 20px
  width 580px
  background #f9f9f9
  display block
  text-align left

  h3
    color #000
    padding-bottom 45px
    text-align center

  label
    padding-bottom  18px
    text-align center
    white-space nowrap
    display block

    span
      display inline-block
      vertical-align top
      width 150px
      font-size 18px
      text-align left
      font-weight lighter
      padding-top 15px

    .inp
      width 428px
      background #ffffff
      color #000000
      font-size 18px
      font-weight lighter

  label.check
    text-align left

    .inp-checkbox
      display inline-block
      vertical-align top
      margin-right 10px
      margin-left 153px
      margin-top 5px

    span
      width 300px
      padding-top 0

  .btn
    height 41px
    line-height 41px
    padding 0 43px
    font-size 16px
    margin 15px auto 0
    display block
    width 200px


  a.forget
    display block
    text-align center
    margin 15px auto 0


