
<form action="" method="post" class="popup-form main-form">
  <h3>Вход в личный кабинет</h3>
  <label><span>Логин</span>
    <input type="text" name="login" class="inp required"/>
  </label>
  <label><span>Пароль</span>
    <input type="password" name="pass" class="inp required"/>
  </label>
  <label class="check">
    <input type="checkbox" class="inp-checkbox"/><span>Запомнить меня на этом компьютере</span>
  </label>
  <input type="submit" value="Войти" class="btn js-form-submit"/><a href="" class="forget">Забыли пароль?</a>
</form>