block vars
    - var title='Title'

extends ../../partials/layout
block content

    .grid.width-wrap.bg-aside

        include ../../partials/aside

        section.three-fourth.grid-item.page-content.margin-left

            h1 Условия программы

            ul.conditions-list
                li.conditions-list__el.active.slide
                    h2 Участие в программе
                    div.slide-content
                        ul
                            li Участником
                                strong PH Club
                                | может стать любой салон красоты или сеть салонов, функционирующие на территории России (далее — «участники» или «салоны»).
                            li Обязательными условиями для участия в программе являются:
                                ul
                                    li объем закупок продукции марки
                                        i Schwarzkopf Professional
                                        | на сумму не меньше 80 000 руб. с НДС в квартал на один салон, т. е. для сети из трёх салонов, работающих на Schwarzkopf Professional, объём закупок должен быть не менее 240 000 руб. с НДС (!);
                                    li поддержание ассортимента Schwarzkopf Professional согласно заключённому соглашению.

                li.conditions-list__el.slide
                    h2 Основные принципы PH Club
                    div.slide-content
                        p Содержимое таба
                            a Основные принципы
                            | PH Club

                li.conditions-list__el.slide
                    h2 Логин и секретный пароль
                    div.slide-content
                        p Логин и секретный пароль



    script(type="text/javascript") $(function(){$.pixlayout({src: "/static/img/temp/conditions.jpg", opacity: 0.5, top: -74, left: -177, center: false, clip: true, show: false }) })

