block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макетам

        .list-group

            .list-group-item.active Страницы
            a.list-group-item(href="/static/html/pages/pageCatalog/pageCatalog_main.html")
                h4 Catalogue_main
            a.list-group-item(href="/static/html/pages/pageCatalog/pageCatalog_category.html")
                h4 Catalogue_category
            a.list-group-item(href="/static/html/pages/pageCatalog/pageCatalog_card.html")
                h4 Catalogue_card
            a.list-group-item(href="/static/html/pages/pageNews/pageNews.html")
                h4 News
            a.list-group-item(href="/static/html/pages/pageNews/pageNews-item.html")
                h4 News-item
            a.list-group-item(href="/static/html/pages/pageConditions/pageConditions.html")
                h4 Conditions
            a.list-group-item(href="/static/html/pages/pageCredit/pageCredit-text.html")
                h4 Credit-text
            a.list-group-item(href="/static/html/pages/pageCredit/pageCredit.html")
                h4 Credit
            a.list-group-item(href="/static/html/pages/pageCredit/pageCredit-send.html")
                h4 Credit после отправки запроса
            a.list-group-item(href="/static/html/pages/pageAccount/pageAccount.html")
                h4 Account
            a.list-group-item(href="/static/html/pages/pageCart/pageCart.html")
                h4 Cart
            a.list-group-item(href="/static/html/pages/pageCart/pageCart-order.html")
                h4 Cart-order
            a.list-group-item(href="/static/html/pages/pageCart/pageOrder.html")
                h4 Order
            a.list-group-item(href="/static/html/pages/pageIndex/pageIndex.html")
                h4 Index